<!-- Footer partial for "WyldGreens" -->

<!-- l-content-wrapper close tag -->
</div>
<!-- l-body-wrapper close tag -->
</div>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

<script src="/js/price.js" charset="utf-8"></script>
<script src="/js/mix.js" charset="utf-8"></script>
<script src="/js/plans.js" charset="utf-8"></script>
<script src="/js/form.js" charset="utf-8"></script>
<script src="/js/custom-orders.js" charset="utf-8"></script>
<script src="/js/multi.js" charset="utf-8"></script>
<script src="/js/custom-form.js" charset="utf-8"></script>

</body>

</html>

<!-- END of document -->