<!-- Header partial for "Wyldgreens" -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=pageTitle%></title>

    <meta name="description"
        content="Delicious microgreens delivered to your door around Boulder, Colorado.">
    <meta name="keywords"
        content="">
    <meta name="robots" content="index, follow">

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/module.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/wyld-home.css">
    <link rel="stylesheet" href="/styles/planes.css">
    <link rel="stylesheet" href="/styles/wquery.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Nunito:wght@300;600&display=swap"
        rel="stylesheet">

    <!-- Social share meta
    <meta property="og:image" content="/images/share.jpg">
    <meta property="og:title" content="">
    <meta property="og:description"
        content="A lightweight, scalable theme and blog for your local or social media driven business. Includes a headless CMS and social media aggregator.">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">

    <!-- ShareThis JS-->
    <!-- 
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=5fdcf5e7808aed0011dfaa1c&product=inline-share-buttons"
        async="async">
    </script>  
    <script type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=PASTE_YOUR_PROPERTY_ID_HERE&product=inline-share-buttons" async="async">
    </script> 
    -->
    <!-- END ShareThis JS-->

</head>

<body onload="planeOnLoad()">
   
                            <!-- END of document -->
                            