<!-- Contact page for "LumberJack" -->



<%- include("../views/partials/header.ejs") -%>


<% if ( pageTitle === "Home" ) { %>

<!-- <div class="l-header l-home-header">
            <div class="l-header-wrapper l-home-header">
                <div class="logo-pane">
                    <img class="logo-main" src="/images/logo/Asset 2.png">
                </div>
            </div>
        </div> -->
<div class="l-body-wrapper--home ">
    <div class="l-content-wrapper">

        <% } else { %>
        <!-- ** LumberJack-Setup - Main menu links -->
        <!-- You will need to change the pageTitle variable in your /app.js, as well as the text content of the <li>, and the href.
                        Make sure to change the hamburger, the navbar, and the menu boxes in /views/home.ejs. -->
        <!--                            
        <div id="h-menu" class="h-menu-drop">
            <ul>
                <a href="/technology">
                    <li <% if (pageTitle === "Technology") { %> class="current" <% } %>>Tech</li>
                </a>
                <a href="/blog">
                    <li <% if (pageTitle === "Blog" || pageTitle === "Blog Post") { %> class="current" <% } %>>Blog</li>
                </a>
                <a href="/media">
                    <li <% if (pageTitle === "Media") { %> class="current" <% } %>>Media</li>
                </a>
                <a href="/contact">
                    <li <% if (pageTitle === "Contact") { %> class="current" <% } %>>Contact</li>
                </a>
            </ul>
        </div>

        <div class="l-header">
            <div class="l-header-wrapper">

                <div class="smlogo-pane">
                    <a href="/"><img class="logo-sm" src="/images/logo.png"></a>
                 </div>

                <div class="navbar-pane">
                    <ul>
                        <a href="/technology">
                            <li <% if (pageTitle === "Technology") { %> class="current" <% } %>>Tech</li>
                        </a>
                        <a href="/blog">
                            <li <% if (pageTitle === "Blog" || pageTitle === "Blog Post") { %> class="current" <% } %>>Blog</li>
                        </a>
                        <a href="/media">
                            <li <% if (pageTitle === "Media") { %> class="current" <% } %>>Media</li>
                        </a>
                        <a href="/contact">
                            <li <% if (pageTitle === "Contact") { %> class="current" <% } %>>Contact</li>
                        </a>
                    </ul>
                </div>

                <div class="h-menu-pane">
                    <input id="h-menu-input" type="checkbox" onclick="hamburger()">
                    <div id="h-box" class="h-menu-box">
                        <div class="h-menu-bars">
                            <div id="h-bar1" class="h-menu-bar"></div>
                            <div id="h-bar2" class="h-menu-bar"></div>
                            <div id="h-bar3" class="h-menu-bar"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
        <div class="greeting-pane--home">
            <!-- <h1>Welcome!</h1> -->
            <div class="fullwidth-wrapper">

                <!-- <div class="fullwidth-left-cont">
                        <img src="/images/greens/top-down-transparent.png">
                    </div> -->
                <div class="fullwidth-right-cont">
                    <img src="/images/logo/Asset 2.png">
                    <!-- <h2>Delicious Microgreens<br>Delivered to Your Door.</h2> -->
                </div>
            </div>
        </div>
        <% if ( pageTitle === "Contact" ) { %>
        <div class="l-body-wrapper--contact">
            <div class="l-content-wrapper--contact">
                <%} else { %>
                <div class="l-body-wrapper">
                    <div class="l-content-wrapper">
                        <% } %>

                        <% } %>


                        <div class="how-it-works-wrapper">
                            <h3>Delicious Microgreens<br>Delivered to Your Door.</h3>
                        </div>
                        <!-- <h4 class="how-subtitle" >Our microgreens are safe, delicious, and super easy to order!</h4> -->

                        <div class="l-box-third">
                            <img class="why-img" src="/images/Web Icons/Asset 6.png">
                            <h3>1. Pick a Mix</h3>
                        </div>
                        <div class="l-box-third">
                            <img class="why-img" src="/images/Web Icons/Asset 5.png">
                            <h3>2. Pick a Plan</h3>
                        </div>
                        <div class="l-box-third">
                            <img class="why-img" src="/images/Web Icons/round-cart-kelly-green-pop.png">
                            <h3>3. Place an Order</h3>
                        </div>



                        <div class="l-divider divider-bottom"></div>

                        <!-- <div class="why-pane--home"> -->
                        <!-- <h2>Why Buy Wyld?</h2> -->
                        <!-- <img class="avatar-img" src="/images/Asset-3.png"> -->
                        <!-- <img class="avatar-img" style="top: -30px; width: 136px; opacity: 0.1" src="/images/logo/Asset 1.png"> -->
                        <!-- </div> -->

                        <!-- <div class="l-divider divider-top"></div> -->

                        <div style="height: 1121px; " class='farm-scene'>
                            <img class='farm-background' style="height: 1161px; opacity: 0.7;"
                                src='/images/horse-farm-color-adjust.png'>
                            <img class='cloud' src='/images/cloud.png'>
                            <!-- <img class='cloud' src='/images/cloud.png'> -->


                            <h2 style="font-size: 60px; padding-top: 75px; margin-bottom: -20px; " class='why-header'>
                                Why Go Wyld?</h2>
                            <div style="height: 40px;"></div>

                            <h3 class="committed">We are committed to changing the food industry by providing safe,
                                locally sourced, chemical-free,
                                nutrient-dense
                                microgreens right to your door!</h3>

                            <!-- <img class="wyld-why-img" src="/images/greens/alek-cut.png"> -->


                            <div class="wyld-why">

                                <ul class="why-list">
                                    <h3 style="padding-top: 5px; padding-bottom: 15px;" class='why-header'>A Healthier
                                        Planet - A Healthier You</h3>
                                    <img class='list-item' src="/images/icons/why/mountains.png">
                                    <li class='mountains'>Our Greens are grown locally in the Colorado mountains, free
                                        from bugs, mold, and
                                        without the need for any harmful pesticides or chemicals.</li><br>
                                    <img class='list-item' src="/images/icons/why/custom.png">
                                    <li class='custom'>All of our different mixes are customizable, packed with flavor,
                                        and dense in key
                                        nutrients, vitamins, flavonoids, and fiber.</li><br>
                                    <img class='list-item' src="/images/icons/why/certified.png">
                                    <li class='certified'>We strive to deliver high-quality products with minimal waste
                                        or footprint. Our
                                        packaging is reusable, recyclable, and keeps greens fresh for weeks!</li><br>
                                    <img class='list-item' src="/images/icons/why/truck.png">
                                    <li class='truck'>We will personally deliver to your doorstep on your scheduled date
                                        and pick up your used
                                        container - all free of charge with no contact necessary.</li>
                                </ul>
                            </div>
                            <div style="height: 123px;"></div>

                        </div>
                        <div class="l-divider divider-bottom"></div>

                        <div class="avatar-pane--home">
                            <img class="avatar-img" style="width: 140px" src="/images/Web Icons/Asset 6.png">
                            <h2>Pick a Mix</h2>
                            <!-- <h2>Pick a Plan.</h2>
    <img class="avatar-img" src="/images/Asset-3.png"> -->
                        </div>

                        <div class="text-pane--home" style="max-width: 550px; padding-top: 40px;">
                            <p>We offer three standard mixes, and a custom option. Click on an image below to add one to
                                the order form.</p>
                            <p>Please allow up to three weeks for special orders, depending on the status of our current
                                crops.</p>

                        </div>

                        <!-- <div class="l-divider divider-top"></div> -->
                        <!-- <div class="l-divider divider-top margin-t-85"></div> -->
                        <div style="height: 140px;"></div>


                        <div class="card-pane--tech">
                            <div class="card card--tech-left">
                                <div class="tech-card-inner-wrap">

                                    <div class="tech-card-top-section">
                                        <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Farmer's
                                                Mix</a></h3>
                                        <h4 class="mix-lower-heading">Crop dependent, let the farmers decide</h4>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div class="">
                                            <img class="card-art" src="/images/greens/green4.jpg">
                                        </div>
                                        <p class="mix-text">Let us pick your greens, we will make sure you get a tasty
                                            combination.</p>

                                        <button class="mix-order" type="button" onclick="addToOrder('mix_farmers')">Add
                                            1 to order</button>
                                    </div>


                                </div>
                            </div>

                            <div class="card card--tech-right">
                                <div class="tech-card-inner-wrap">

                                    <div class="tech-card-top-section">
                                        <h3><a class="no-style" href="https://nodemailer.com/about/"
                                                target="_blank">Spicy Mix</a></h3>
                                        <h4 class="mix-lower-heading">Mustard, Radish Sprouts, and Sunflower</h4>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div class="">
                                            <img class="card-art" src="/images/greens/green3.jpg">
                                        </div>
                                        <p class="mix-text">Our Spicy Mix packs a punch for soups and salads, adding
                                            robust flavors and zest.</p>

                                        <button class="mix-order" type="button" onclick="addToOrder('mix_spicy')">Add 1
                                            to order</button>
                                    </div>

                                </div>


                            </div>

                        </div>

                        <div style="height: 260px;"></div>

                        <div class="card-pane--tech">
                            <div class="card card--tech-left">
                                <div class="tech-card-inner-wrap">

                                    <div class="tech-card-top-section">
                                        <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Salad Mix</a>
                                        </h3>
                                        <h4 class="mix-lower-heading">Sunflower, Brocolli, Cabbage, and Rutabega</h4>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div>
                                            <img class="card-art" src="/images/greens/green1.jpg">
                                        </div>
                                        <p class="mix-text">The perfect mix for an all around healthy and tasty salad
                                            year-round.</p>

                                        <button class="mix-order" type="button" onclick="addToOrder('mix_salad')">Add 1
                                            to order</button>
                                    </div>


                                </div>
                            </div>

                            <div class="card card--tech-right">
                                <div class="tech-card-inner-wrap">

                                    <div class="tech-card-top-section">
                                        <h3><a class="no-style" href="https://nodemailer.com/about/"
                                                target="_blank">Healthy Mix</a></h3>
                                        <h4 class="mix-lower-heading">Brocolli, Pea Sprouts, and Radish</h4>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div>
                                            <img class="card-art" src="/images/greens/green2.jpg">
                                        </div>
                                        <p class="mix-text">Our Healthy Mix is a powerhouse of nutrients designed to
                                            boost healing and recovery time.</p>
                                        <button class="mix-order" type="button" onclick="addToOrder('mix_healthy')">Add
                                            1 to order</button>
                                    </div>

                                </div>



                            </div>

                        </div>
                        <div style="height: 268px;"></div>


                        <div class="card-pane--tech">


                            <div style="height: 350px; width: 662px;" class="card card--tech-right">
                                <div class="tech-card-inner-wrap">

                                    <div class="tech-card-top-section">
                                        <h3><a class="no-style" href="https://nodemailer.com/about/"
                                                target="_blank">Custom Order</a></h3>
                                        <h4 class="mix-lower-heading">Horizontal orientation? Inner layout still very
                                            rough.</h4>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div style="">
                                            <img style="width: 40%; height: auto; top: 0px; padding: 10px; float: left; margin-left: 20px; "
                                                class="card-art" src="/images/greens/top-down-transparent.png">
                                        </div>
                                        <div style="position: relative; top: 50%; transform: translateY(-50%);  "
                                            class="">
                                            <p style="margin: 10px; padding: 0 20px;">This will collapse to vertical
                                                arrangement on mobile. Pick up to 4 of our premium,
                                                freshly grown ingredients. Please remember, custom orders may take a few
                                                weeks to initally fill.</p>
                                            <ul class="custom-ingredients">
                                                <li>- Brocolli</li>
                                                <li>- Sunflower</li>
                                                <li>- Rutabega</li>
                                                <li>- Pea</li>
                                            </ul>
                                            <ul class="custom-ingredients">
                                                <li>- Mustard</li>
                                                <li>- Radish</li>
                                                <li>- Cabbage</li>
                                                <li>- Ideas?</li>

                                            </ul>

                                            <button style="" class="mix-order" type="button"
                                                onclick="addToOrder('mix_custom')">Add 1 to order</button>
                                        </div>
                                    </div>




                                </div>
                            </div>

                        </div>
                        <div style="height: 200px;"></div>

                        <div class="l-divider divider-top"></div>
                        <div style="height: 1010px; margin-top: -40px; background-color: #00987c; " class="plan-back">
                        </div>

                        <div class="avatar-pane--home" style="top: -45px;">
                            <img class="avatar-img" style="width: 150px;" src="/images/Web Icons/Asset 5.png">
                            <h2>Pick a Plan</h2>
                        </div>


                        <div style="height: 100px;"></div>

                        <!-- <div style="position: relative; top: 25px; " class="l-divider divider-top "></div> -->
                        <div class="card-pane--tech">
                            <div style="height: 420px; position: relative; bottom: 0; " class="card card--tech-left">
                                <div class="tech-card-inner-wrap">

                                    <div style=" height: 36%; padding-top: 18px;" class="tech-card-top-section">
                                        <h3 style="font-size: 60px; margin-bottom: 11px;"><a class="no-style"
                                                href="https://www.ejs.co" target="_blank">$12</a></h3>
                                        <h3><a class="no-style" href="https://www.ejs.co" target="_blank">One-time
                                                Order</a></h3>
                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div style="margin-top: 42px;" class="card-box-center">
                                            <h4 class="plan-lower-items">- Perfect for parties</h4>
                                            <h4 class="plan-lower-items">- Get as a gift</h4>
                                            <h4 class="plan-lower-items">- Treat yourself</h4>
                                            <h4 class="plan-lower-items">- Cooking date idea!</h4>
                                        </div>
                                        <button style="bottom: 33px; " class="plan-order" type="button"
                                            onclick="addToOrder('one_time')">Order
                                            Once</button>
                                    </div>

                                </div>
                            </div>

                            <div style="height: 420px; " class="card card--tech-right">
                                <div class="tech-card-inner-wrap">

                                    <div style=" height: 36%; padding-top: 0px;" class="tech-card-top-section">
                                        <h3 style="font-size: 60px; margin-bottom: 11px;"><a class="no-style"
                                                href="https://nodemailer.com/about/" target="_blank">$40</a></h3>
                                        <h3><a class="no-style" href="https://nodemailer.com/about/"
                                                target="_blank">Order Weekly</a></h3>
                                        <h4 style="font-weight: 700; opacity: 1; " class="plan-lower-items">*Best Value!
                                        </h4>

                                    </div>

                                    <div class="tech-card-bottom-section">
                                        <div class="card-box-center"">
                                            <h4 class=" plan-lower-items">- Set it and forget it!</h4>
                                            <h4 class="plan-lower-items">- Reusable container</h4>
                                            <h4 class="plan-lower-items">- Always have fresh greens for the family</h4>
                                            <h4 class="plan-lower-items">- Stay green through the winter!</h4>
                                        </div>

                                        <button style="bottom: 33px; " class="plan-order" type="button"
                                            onclick="addToOrder('weekly')">Schedule
                                            Delivery</button>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- <div style="position: relative; bottom: 36px; " class="l-divider divider-bottom "></div> -->
                        <div style="height: 150px;"></div>


                        <div class="text-pane--home" style="max-width: 550px; padding-top: 0px; margin-bottom: 60px;">
                            <p>Schedule your order once a week, or setup a monthly payment and save! Order greens for
                                someone you care about. Give the gift of nutrition! We have a reuseable container option
                                to keep both your's and our environmental footprint as low as possible. Show up to a
                                dinner party with fresh food for the table. Bring the life to the party.</p>
                        </div>






                        <div class="l-divider divider-bottom"></div>

                        <div class="avatar-pane--home" style="top: -40px; ">
                            <img class="avatar-img" style="width: 150px; "
                                src="/images/Web Icons/round-cart-kelly-green-pop.png">
                            <h2>Place an Order</h2>
                            <!-- <h2>Pick a Plan.</h2>
    <img class="avatar-img" src="/images/Asset-3.png"> -->
                        </div>

                        <div class="text-pane--home" style="max-width: 550px; padding-top: 0px;">
                            <p>Use the form below to fill in your order choices. Make sure to check all required boxes!
                                We will be in contact shortly to confirm your order and send a payment link. Thanks!</p>
                        </div>

                        <div style="height: 20px;"></div>


                        <div class="card card--contact-form">
                            <div class="contact-card-inner-wrap">

                                <% if ( responseBool == true ) { %>

                                <div id="hidden-response" class="hidden-response">
                                    <div class="response-box">
                                        <% if ( isError == true ) { %>
                                        <p>Ah bummer!</p>
                                        <p>Looks like something went wrong.</p>
                                        <p>I'm currently looking into the problem, try back soon!</p>
                                        <button type="button" class="hidden-button"
                                            onclick="location.href='/blog'" />Check out the
                                        Blog</button>
                                        <% } else { %>
                                        <p>Thanks!</p>
                                        <p>Your message has been sent</p>
                                        <p>I'm looking forward to talking with you, I will reach out within 2 or 3
                                            business days.</p>
                                        <!-- <button type="button" class="hidden-button" onclick="location.href='/blog'" />Check out the
                Blog</button> -->
                                        <% } %>
                                    </div>
                                </div>

                                <% } else { %>

                                <form id="contact-form" class="contact-form" name="contact" method="post">

                                    <div class="contact-card-top-section">
                                        <div class="wyld-contact-info">

                                            <label class="form-title">Your Name:</label>
                                            <input class="form-entry" type="text" name="user_name"
                                                oninput="formFieldCheck()">
                                            <label class="form-title">Email:</label>
                                            <input class="form-entry" type="email" name="user_email"
                                                oninput="formFieldCheck()">
                                            <label class="form-title">City/Town</label>
                                            <input class="form-entry" type="text" name="user_city">
                                            <label class="form-title">Phone Number</label>
                                            <input class="form-entry" type="text" name="user_phone">
                                            <button id="contact-button" class="contact-submit" type="submit"
                                                onclick="sendingText()">Send</button>
                                        </div>
                                        <div class="wyld-options">

                                            <div class="wyld-form-plans">
                                                <label style="display: inline-block;" class="form-title">One-time
                                                    Order</label>
                                                <input style="display: inline-block;" type="checkbox" name="one_time">
                                                <br>
                                                <label style="display: inline-block;" class="form-title">Weekly
                                                    Delivery</label>
                                                <input style="display: inline-block;" type="checkbox" name="weekly">
                                            </div>

                                            
                                        </div>
                                    </div>
                                    
                                    <div class="contact-card-bottom-section">
                                        <div style="display: inline-block; margin: 0 30px 20px 0; " class="wyld-form-mix">
                                            <label style="display: inline-block;" class="form-title">Farmer's
                                                Mix</label>
                                            <input style="display: inline-block;" type="checkbox"
                                                name="mix_farmers">
                                            <br>
                                            <label style="display: inline-block;" class="form-title">Custom
                                                Order</label>
                                            <input style="display: inline-block;" type="checkbox" name="mix_custom">
                                            <br>
                                            <label style="display: inline-block;" class="form-title">Healthy
                                                Mix</label>
                                            <input style="display: inline-block;" type="checkbox"
                                                name="mix_healthy">
                                            <br>
                                            <label style="display: inline-block;" class="form-title">Salad
                                                Mix</label>
                                            <input style="display: inline-block;" type="checkbox" name="mix_salad">
                                            <br>
                                            <label style="display: inline-block;" class="form-title">Spicy
                                                Mix</label>
                                            <input style="display: inline-block;" type="checkbox" name="mix_spicy">
                                        </div>
                                        <p style="display: inline-block; font-size: 20px; max-width: 400px; text-align: center; margin: 10px auto;">Please leave us information regarding your order. We will be in
                                            touch shortly, but would like to know if you have any special requests.</p>
                                        <label class="form-title">Message:</label>
                                        <textarea class="form-textarea" name="message"
                                            oninput="formFieldCheck()"></textarea>
                                    </div>

                                </form>

                                <% } %>

                            </div>
                        </div>
                        <br>
                        <%- include("../views/partials/footer.ejs") -%>


                        <!-- END of document -->