<!-- Contact page for "LumberJack" -->



<%- include("../views/partials/header.ejs") -%>

<div class="how-it-works-wrapper">
    <h3>How It Works</h3>
</div>

<div class="l-box-third">
    <img class="why-img" src="/images/Web Icons/Asset 6.png">
    <h3>Pick a Mix</h3>
</div>
<div class="l-box-third">
    <img class="why-img" src="/images/Web Icons/Asset 5.png">
    <h3>Pick a Plan</h3>
</div>
<div class="l-box-third">
    <img class="why-img" src="/images/Web Icons/Asset 4.png">
    <h3>Place an Order</h3>
</div>


<div class="l-divider divider-bottom"></div>

<div class="why-pane--home">
    <!-- <h2>Why Buy Wyld?</h2> -->
    <!-- <img class="avatar-img" src="/images/Asset-3.png"> -->
    <h2>Why Go Wyld?</h2>
    <img class="avatar-img" style="top: 62px; width: 136px;" src="/images/logo/Asset 1.png">
</div>

<div class="l-divider divider-top"></div>
<div style="height: 40px;"></div>

<img class="wyld-why-img" style=" " src="/images/greens/top-down-transparent.png">

<div class="wyld-why">
    <h3>A Healthier Planet - A Healthier You</h3>
    <ul>

        <li>We're committed to changing the food industry by providing safe, locally sourced, chemical-free, nutrient-dense
            microgreens right to your door!</li>
            <li>Our Greens are grown locally in the Colorado mountains, free from bugs, mold, and without the need for any harmful pesticides or chemicals.</li>
            <li>Our mixes are customizable, packed with flavor, and dense in key nutrients, vitamins, flavonoids, and fiber.</li>
            <li>We strive to deliver high-quality products with minimal waste or footprint. Our packaging is reusable, recyclable, and keeps greens fresh for weeks!</li>
            <li>We'll personally deliver to your doorstep on your preferred date - free of charge with no contact necessary.</li>
        </ul>
</div>
<div style="height: 40px;"></div>

<div class="l-divider divider-bottom"></div>

<div class="avatar-pane--home">
    <img class="avatar-img" style="width: 140px" src="/images/Web Icons/Asset 6.png">
    <h2>Pick a Mix</h2>
    <!-- <h2>Pick a Plan.</h2>
    <img class="avatar-img" src="/images/Asset-3.png"> -->
</div>

<div class="text-pane--home" style="max-width: 550px; padding-top: 40px;">
    <p>We offer three standard mixes, and a custom option. Click on an image below to add one to the order form.</p>
    <p>Please allow up to three weeks for special orders, depending on the status of our current crops.</p>

</div>

<!-- <div class="l-divider divider-top"></div> -->
<!-- <div class="l-divider divider-top margin-t-85"></div> -->
<div style="height: 140px;"></div>


<div class="card-pane--tech">
    <div class="card card--tech-left">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Farmer's Choice</a></h3>
                <h4 class="mix-lower-heading">Sunflower, Chorizo, Olives.</h4>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/greens/green3.jpg">
                </div>
            </div>

        </div>
    </div>

    <div class="card card--tech-right">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://nodemailer.com/about/" target="_blank">Custom Order</a></h3>
                <h4 class="mix-lower-heading">You show it, we grow it.</h4>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/greens/green4.jpg">
                </div>
            </div>

        </div>
    </div>

</div>

<div style="height: 260px;"></div>

<div class="card-pane--tech">
    <div class="card card--tech-left">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.ejs.co" target="_blank">Power Greens</a></h3>
                <h4 class="mix-lower-heading">Radish, Radichio, Pinocchio.</h4>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/greens/green1.jpg">
                </div>
            </div>

        </div>
    </div>

    <div class="card card--tech-right">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://nodemailer.com/about/" target="_blank">Sprouted Life</a></h3>
                <h4 class="mix-lower-heading">Brocolli, Brussels, Oysters.</h4>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <img class="card-art" src="/images/greens/green2.jpg">
                </div>
            </div>

        </div>
    </div>

</div>
<div style="height: 220px;"></div>

<div class="l-divider divider-top"></div>

<div class="avatar-pane--home" style="top: -45px;">
    <img class="avatar-img" style="width: 150px;" src="/images/Web Icons/Asset 5.png">
    <h2>Pick a Plan</h2>
    <!-- <h2>Pick a Plan.</h2>
    <img class="avatar-img" src="/images/Asset-3.png"> -->
</div>

<div class="text-pane--home" style="max-width: 550px; padding-top: 0px;">
    <p>Schedule your order once a week, setup a monthly payment and save!</p>
    <p>Order greens for someone you care about. Give the gift of nutrition!</p>
</div>

<div style="height: 120px;"></div>

<div class="card-pane--tech">
    <div class="card card--tech-left">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://www.ejs.co" target="_blank">One-time Only</a></h3>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center">
                    <h4 class="mix-lower-heading">- Perfect for parties</h4>
                    <h4 class="mix-lower-heading">- Get as a gift</h4>
                    <h4 class="mix-lower-heading">- Treat yourself</h4>

                    <!-- <img class="card-art" src="/images/greens/green1.jpg"> -->
                </div>
            </div>

        </div>
    </div>

    <div class="card card--tech-right">
        <div class="tech-card-inner-wrap">

            <div class="tech-card-top-section">
                <h3><a class="no-style" href="https://nodemailer.com/about/" target="_blank">Order Weekly</a></h3>
            </div>

            <div class="tech-card-bottom-section">
                <div class="card-box-center"">
                    <h4 class=" mix-lower-heading">- Set it and forget it!</h4>
                    <h4 class="mix-lower-heading">- Option for reusable container</h4>
                    <h4 class="mix-lower-heading">- Discount rate</h4>

                    <!-- <img class="card-art" src="/images/greens/green2.jpg"> -->
                </div>
            </div>

        </div>
    </div>

</div>

<div style="height: 240px;"></div>


<div class="l-divider divider-bottom"></div>

<div class="avatar-pane--home" style="top: -45px; ">
    <img class="avatar-img" style="width: 150px; " src="/images/Web Icons/Asset 4.png">
    <h2>Place an Order</h2>
    <!-- <h2>Pick a Plan.</h2>
    <img class="avatar-img" src="/images/Asset-3.png"> -->
</div>

<div class="text-pane--home" style="max-width: 550px; padding-top: 60px;">
    <p>Use the form below to fill in any remaining choices. Make sure to check all required boxes!</p>
    <p>We will be in contact shortly to confirm your order and send a payment link. Thanks!</p>
</div>

<div style="height: 60px;"></div>


<div class="card card--contact-form">
    <div class="contact-card-inner-wrap">

        <% if ( responseBool == true ) { %>

        <div id="hidden-response" class="hidden-response">
            <div class="response-box">
                <% if ( isError == true ) { %>
                <p>Ah bummer!</p>
                <p>Looks like something went wrong.</p>
                <p>I'm currently looking into the problem, try back soon!</p>
                <button type="button" class="hidden-button" onclick="location.href='/blog'" />Check out the
                Blog</button>
                <% } else { %>
                <p>Thanks!</p>
                <p>Your message has been sent</p>
                <p>I'm looking forward to talking with you, I will reach out within 2 or 3 business days.</p>
                <!-- <button type="button" class="hidden-button" onclick="location.href='/blog'" />Check out the
                Blog</button> -->
                <% } %>
            </div>
        </div>

        <% } else { %>

        <form id="contact-form" class="contact-form" name="contact" method="post">

            <div class="contact-card-top-section">
                <div class="wyld-contact-info">

                    <label class="form-title">Your Name:</label>
                    <input class="form-entry" type="text" name="user_name" oninput="formFieldCheck()">
                    <label class="form-title">Email:</label>
                    <input class="form-entry" type="email" name="user_email" oninput="formFieldCheck()">
                    <label class="form-title">Address</label>
                    <input class="form-entry" type="text">
                    <label class="form-title">Phone Number</label>
                    <input class="form-entry" type="text">
                    <button id="contact-button" class="contact-submit" type="submit" onclick="sendingText()">Send</button>
                </div>
                <div class="wyld-options">

                    <div class="wyld-form-plans">
                        <label style="display: inline-block;" class="form-title">One-time</label>
                        <input style="display: inline-block;" type="checkbox">
                        <br>
                        <label style="display: inline-block;" class="form-title">Weekly Delivery</label>
                        <input style="display: inline-block;" type="checkbox">
                    </div>
                    
                    <div class="wyld-form-mix">
                        <label style="display: inline-block;" class="form-title">Farmer's Choice</label>
                        <input style="display: inline-block;" type="checkbox">
                        <br>
                        <label style="display: inline-block;" class="form-title">Custom Order</label>
                        <input style="display: inline-block;" type="checkbox">
                        <br>
                        <label style="display: inline-block;" class="form-title">Power Greens</label>
                        <input style="display: inline-block;" type="checkbox">
                        <br>
                        <label style="display: inline-block;" class="form-title">Sprouted Life</label>
                        <input style="display: inline-block;" type="checkbox">
                    </div>
                    
                </div>
            </div>

            <div class="contact-card-bottom-section">
                <label class="form-title">Message:</label>
                <textarea class="form-textarea" name="message" oninput="formFieldCheck()"></textarea>
            </div>

        </form>

        <% } %>

    </div>
</div>
<br>
<%- include("../views/partials/footer.ejs") -%>


<!-- END of document -->