<!-- Landing page for "Wyldgreens" -->

<%- include("../views/partials/header.ejs") -%>

<div class="lightbox">
    <img src="/images/greens/alek-cut.png">
</div>

<div class="background-scene">
    <div class="scene-back">
    </div>

    <div class="scene-layer1">

        <div id="wyld-plane-bottom-goleft" class="plane-pane-bottom-left">
            <div class="plane-wrap-bottom-left">
                <img class="plane-component prop-left" src="/images/plane/prop.png">
                <img class="plane-component plane-left" src="/images/plane/plane.png">
            </div>

            <div class="banner-outerwrap-bottom-left">
                <div class="banner-wrap-bottom-left">
                    <img class="plane-component banner-left" src="/images/plane/rope-banner-2.png">
                    <img class="plane-component tail-left" style="right: 10px;" src="/images/plane/tail.png">
                </div>
            </div>

        </div>

        <div id="wyld-plane-bottom-goright" class="plane-pane-bottom-right">
            <div class="banner-outerwrap-bottom-right">
                <div class="banner-wrap-bottom-right">
                    <img class="plane-component tail-right" src="/images/plane/tail-right.png">
                    <img class="plane-component banner-right" src="/images/plane/rope-banner-right.png">
                </div>
            </div>

            <div class="plane-wrap-bottom-right">
                <img class="plane-component plane-right" src="/images/plane/plane-right.png">
                <img class="plane-component prop-right" src="/images/plane/prop.png">
            </div>

        </div>

    </div>

    <div class="scene-layer2">
    </div>
</div>

<div class="l-body-wrapper--contact">
    <div class="l-content-wrapper--contact">

        <div class="fullwidth-right-cont">
            <img class="logo" src="/images/logo/banner-rope-no-y-border-green.png">
        </div>


        <img class="light-mid" onclick="openLightbox()" src="/images/greens/alek-cut.png">


        <div class="how-it-works-wrapper">
            <h3>Get Delicious Microgreens Delivered Right to Your Door!</h3>
        </div>


        <div id="wyld-plane-top-goleft" class="plane-pane-top-left">
            <div class="plane-wrap-left">
                <img class="plane-component prop-left" src="/images/plane/prop.png">
                <img class="plane-component plane-left" src="/images/plane/plane.png">
            </div>

            <div class="banner-outerwrap-left">
                <div class="banner-wrap-left">
                    <img class="plane-component banner-left" src="/images/plane/rope-banner-2.png">
                    <img class="plane-component tail-left" src="/images/plane/tail.png">
                </div>
            </div>

        </div>

        <!-- CTA BUTTONS -->

        <div class="cta-back">
            <img class="green-arrow" src="/images/icons/cta/arrow.png">
            <img class="green-arrow second-arrow" src="/images/icons/cta/arrow.png">

            <div class="l-box-third">
                <div id="plan-button" class="cta-button-background make-smaller">
                    <img class="cta-img" style="height: 100px;" src="/images/icons/cta/plan-leaf.png">
                    <h3>Pick A Plan</h3>
                </div>
            </div>

            <div class="l-box-third">
                <div id="mix-button" class="cta-button-background make-smaller">
                    <img class="cta-img" style="height: 99px;" src="/images/icons/cta/hand.png">
                    <h3>Pick A Mix</h3>
                </div>
            </div>

            <div class="l-box-third">
                <div id="order-button" class="cta-button-background make-smaller">
                    <img class="cta-img" style="top: 7px; height: 90px; " src="/images/icons/cta/email-leaf.png">
                    <h3>Place An Order</h3>
                </div>
            </div>

        </div>

        <!-- WHY GO WYLD FARM SCENE -->

        <div class="why-section">
            <img class="cloud" src="/images/cloud.png">
            <h2 class="why-header">Why Go Wyld?</h2>
            <p class="committed">We are proud to provide our community with locally sourced, nutrient-dense, eco-friendly microgreens - all with contactless&nbsp;delivery!</p>

            <!-- WHY BULLET POINTS -->

            <div class="wyld-why">
                <ul class="why-list">
                    <h3 class="why-subheader">A Healthier Planet - A Healthier You</h3>
                    <img class="list-item hills" src="/images/icons/why/mountains.png">
                    <li class="mountains">Our Greens are locally grown<br>in the Colorado foothills, free from<br>bugs, mold, and without any harmful pesticides or chemicals
                    </li>
                    <br>
                    <img class="list-item packages" src="/images/icons/why/custom.png">
                    <li class="custom">Each of our mixes are packed<br>with flavor, dense in key nutrients,<br>vitamins, flavonoids, and fiber.<br>Custom options are available</li>
                    <br>
                    <img class="list-item checkmark" src="/images/icons/why/certified.png">
                    <li class="certified">We love our planet and we know<br>you do too! All of our packaging is reusable and recyclable, while still keeping your greens fresh!</li>
                    <br>
                    <img class="list-item delivery" src="/images/icons/why/truck.png">
                    <li class="truck">Every week we deliver fresh<br>microgreens and pick up your used container. All free of charge with<br>no contact necessary
                    </li>
                </ul>
            </div>

        </div>

        <div class="plan-spacer"></div>

        <!-- PLAN SECTION -->

        <div id="pick-plan" class="avatar-pane--home adjust-up">
            <img class="section-img" style="width: 110px;" src="/images/icons/cta/plan-leaf-white.png">
            <h2>Pick a Plan</h2>
        </div>

        <!-- PLAN TOP TEXT -->

        <div class="plan-text">
            <p id="mobile-p-plan">Order as you need, or setup a weekly subscription and save! Each box of microgreens provides a week of salad mix for one, or sandwich toppings for two. Need more?
                Bulk orders are available. Choose an option below to add to your order form.</p>
        </div>

        <div style="height: 39px;"></div>

        <!-- PLAN ROW -->

        <div class="card-pane--wyld">
            <div class="card card--wyld-sides">
                <div class="wyld-card-inner-wrap">

                    <div class="wyld-card-top-section side-plans">
                        <h3 class="plan-title">$12</h3>
                        <h3>One-time<br>Order</h3>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div class="card-box-center">
                            <h4 class="plan-lower-items">One box to treat yourself</h4>
                            <h4 class="plan-lower-items">Perfect addition to<br>a dinner date</h4>
                            <h4 class="plan-lower-items">Give healthy<br>nutrition as a gift</h4>
                            <h4 class="plan-lower-items">Add an extra to<br>your weekly order</h4>
                        </div>

                        <div id="one_time-pane" class="plan-btn-pane"></div>
                        <button id="one_time-order-btn" class="plan-order" type="button" onclick="oneTimeDel()">Order Once</button>
                        <div id="one_time-added" class="plan-added">
                            <p>Added</p>
                            <img class="one_time-btn-check" src="/images/icons/check.png">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card--wyld-center">
                <div class="wyld-card-inner-wrap">

                    <div class="wyld-card-top-section center-plan">
                        <h3 class="plan-title">$10</h3>
                        <h3>Weekly Subscription</h3>
                        <h4 class="best-value">Best Value!</h4>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div class="card-box-center plan-center-adjust">
                            <h4 class="plan-lower-items">One box delivered every week, order once a month</h4>
                            <h4 class="plan-lower-items">Recyclable container<br>picked up each week</h4>
                            <h4 class="plan-lower-items">Always have fresh<br>greens for the family</h4>
                            <h4 class="plan-lower-items">Stay green throughout<br>the cold winter!</h4>
                        </div>

                        <div id="weekly-pane" class="plan-btn-pane"></div>
                        <button id="weekly-order-btn" class="plan-order center-plan-btn" type="button" onclick="weeklyDel()">Get Started</button>
                        <div id="weekly-added" class="plan-added">
                            <p>Added</p>
                            <img class="weekly-btn-check" src="/images/icons/check.png">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card--wyld-sides">
                <div class="wyld-card-inner-wrap">

                    <div class="wyld-card-top-section side-plans">
                        <h3 class="plan-title">$30</h3>
                        <h3>Bulk/Party Order</h3>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div class="card-box-center">
                            <h4 class="plan-lower-items">A full tray of greens,<br>3 boxes worth</h4>
                            <h4 class="plan-lower-items">Great for restaurants<br>and special events</h4>
                            <h4 class="plan-lower-items">Also available as a subscription</h4>
                            <h4 class="plan-lower-items">Great for big parties!</h4>
                        </div>

                        <div id="bulk-pane" class="plan-btn-pane"></div>
                        <button id="bulk-order-btn" class="plan-order" type="button" onclick="bulkDel()">Stock
                            Up</button>
                        <div id="bulk-added" class="plan-added">
                            <p>Added</p>
                            <img class="bulk-btn-check" src="/images/icons/check.png">
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div style="height: 147px;"></div>

        <!-- PICK A MIX SECTION -->

        <div class="mix-spacer"></div>

        <div id="pick-mix" style="top: -15px;" class="avatar-pane--home">
            <img class="section-img" src="/images/icons/cta/hand-white.png">
            <h2>Pick a Mix</h2>
        </div>

        <div class="mix-body-text">
            <p id="mobile-p-mix">We offer four standard mixes and a custom option. Choose from the options below to add to your order form. Bulk and custom orders are grown just for you! Please order
                three weeks in advance or contact us about our available crops. </p>
        </div>

        <div style="height: 160px;"></div>

        <!-- FIRST PRODUCT ROW -->

        <div class="card-pane--wyld">

            <div class="card card--wyld-left">
                <div class="remove-btn-cover"></div>
                <button class="farmers-remove" type="button" onclick="farmersCloseBtn()">Close</button>
                <div class="wyld-card-inner-wrap mix-bg">

                    <div class="wyld-card-top-section">
                        <h3>Farmer's Mix</h3>
                        <h4 class="mix-lower-heading">Not Sure? Let the farmers choose your mix</h4>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div><img onclick="runLightbox('farmers.jpg')" class="card-art" src="/images/greens/mix/farmers.jpg"></div>

                        <p class="mix-text">Let us pick your greens, we will make sure you get a tasty combination.</p>

                        <div id="farmers-pane" class="mix-btn-pane"></div>
                        <button id="farmers-order-btn" class="mix-order-btn" type="button" onclick="farmersMix()">Add To Order</button>
                        <div id="farmers-quantity" class="mix-quantity">
                            <img class="farmers-btn-check" src="/images/icons/check.png">
                            <img class="farmers-btn-cross" src="/images/icons/cross.png">
                            <p>How<br>Many?</p>
                            <input oninput="farmersUpdate()" class="mix-num-input" type="number" min="1" max="3" value="1">
                        </div>

                    </div>

                </div>
            </div>

            <div class="card card--wyld-right">
                <div class="remove-btn-cover"></div>
                <button class="spicy-remove" type="button" onclick="spicyCloseBtn()">Close</button>

                <div class="wyld-card-inner-wrap mix-bg">

                    <div class="wyld-card-top-section">
                        <h3>Spicy Mix</h3>
                        <h4 class="mix-lower-heading">Mustard, Radish Sprouts, and Sunflower</h4>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div><img onclick="runLightbox('spicy.jpg')" class="card-art" src="/images/greens/mix/spicy.jpg"></div>
                        <p class="mix-text">Our Spicy Mix packs a punch for soups and salads, adding robust flavors and zest.</p>
                        <div id="spicy-pane" class="mix-btn-pane"></div>
                        <button id="spicy-order-btn" class="mix-order-btn" type="button" onclick="spicyMix()">Add To Order</button>
                        <div id="spicy-quantity" class="mix-quantity">
                            <img class="spicy-btn-check" src="/images/icons/check.png">
                            <img class="spicy-btn-cross" src="/images/icons/cross.png">
                            <p>How<br>Many?</p>
                            <input oninput="spicyUpdate()" class="mix-num-input" type="number" min="1" max="3" value="1">
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="mix-spacer-1"></div>

        <!-- SECOND PRODUCT ROW -->

        <div class="card-pane--wyld">
            <div class="card card--wyld-left">
                <div class="remove-btn-cover"></div>
                <button class="salad-remove" type="button" onclick="saladCloseBtn()">Close</button>

                <div class="wyld-card-inner-wrap mix-bg">

                    <div class="wyld-card-top-section">
                        <h3>Salad Mix</h3>
                        <h4 class="mix-lower-heading">Sunflower, Broccoli, Cabbage, and Rutabaga</h4>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div><img onclick="runLightbox('salad.jpg')" class="card-art" src="/images/greens/mix/salad.jpg"></div>
                        <p class="mix-text">The perfect mix for an all around healthy and tasty salad year-round.</p>
                        <div id="salad-pane" class="mix-btn-pane"></div>
                        <button id="salad-order-btn" class="mix-order-btn" type="button" onclick="saladMix()">Add To Order</button>
                        <div id="salad-quantity" class="mix-quantity">
                            <img class="salad-btn-check" src="/images/icons/check.png">
                            <img class="salad-btn-cross" src="/images/icons/cross.png">
                            <p>How<br>Many?</p>
                            <input oninput="saladUpdate()" class="mix-num-input" type="number" min="1" max="3" value="1">
                        </div>
                    </div>

                </div>
            </div>

            <div class="card card--wyld-right">
                <div class="remove-btn-cover"></div>
                <button class="healthy-remove" type="button" onclick="healthyCloseBtn()">Close</button>
                <div class="wyld-card-inner-wrap mix-bg">

                    <div class="wyld-card-top-section">
                        <h3>Healthy Mix</h3>
                        <h4 class="mix-lower-heading">Broccoli, Pea Sprouts,<br>and Radish</h4>
                    </div>

                    <div class="wyld-card-bottom-section">
                        <div><img onclick="runLightbox('healthy.jpg')" class="card-art" src="/images/greens/mix/healthy.jpg"></div>

                        <p class="mix-text">Our Healthy Mix is a powerhouse of nutrients designed to boost healing and recovery time.</p>

                        <div id="healthy-pane" class="mix-btn-pane"></div>
                        <button id="healthy-order-btn" class="mix-order-btn" type="button" onclick="healthyMix()">Add To Order</button>
                        <div id="healthy-quantity" class="mix-quantity">
                            <img class="healthy-btn-check" src="/images/icons/check.png">
                            <img class="healthy-btn-cross" src="/images/icons/cross.png">
                            <p>How<br>Many?</p>
                            <input class="mix-num-input" type="number" min="1" max="3" value="1" oninput="healthyUpdate()">
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="mix-spacer-2"></div>

        <!-- CUSTOM PRODUCT ROW -->

        <div class="card-pane--wyld">

            <div id="custom-box" class="card card--wyld-right custom-order">

                <div class="wyld-card-inner-wrap">

                    <div class="wyld-card-top-section custom-top">
                        <h3>Custom Order</h3>
                        <h4 class="mix-lower-heading">Pick one to four greens and build your own mix</h4>
                    </div>

                    <div class="wyld-card-bottom-section custom-bottom">
                        <div class="wyld-left-section">
                            <img onclick="runLightbox('top-down-transparent.png')" class="custom-img" src="/images/greens/mix/top-down-transparent.png">
                        </div>

                        <div class="wyld-right-section">
                            <p class="custom-text">Our premium, freshly grown ingredients are harvested and delivered the same day.
                                Custom orders may take a few weeks to initially fill.</p>

                            <div class="ingred-wrap">
                                <button class="custom-new" type="button" onclick="customNewOrder()">Keep Shopping</button>
                                <button class="custom-close" type="button" onclick="customOrderOff()">Close</button>
                                <div class="ingred-box">
                                    <ul class="custom-ingredients">
                                        <label for=" Broccoli"><input id=" Broccoli" class="custom-check" type="checkbox" name=" Broccoli" oninput="ingredCheck()">- Broccoli</label><br>
                                        <label for=" Sunflower"><input id=" Sunflower" class="custom-check" type="checkbox" name=" Sunflower" oninput="ingredCheck()">- Sunflower</label><br>
                                        <label for=" Rutabaga"><input id=" Rutabaga" class="custom-check" type="checkbox" name=" Rutabaga" oninput="ingredCheck()">- Rutabaga</label><br>
                                        <label for=" Pea"><input id=" Pea" class="custom-check" type="checkbox" name=" Pea" oninput="ingredCheck()">- Pea</label>
                                    </ul>

                                    <ul class="custom-ingredients">
                                        <label for=" Mustard"><input id=" Mustard" class="custom-check" type="checkbox" name=" Mustard" oninput="ingredCheck()">- Mustard</label><br>
                                        <label for=" Radish"><input id=" Radish" class="custom-check" type="checkbox" name=" Radish" oninput="ingredCheck()">- Radish</label><br>
                                        <label for=" Cabbage"><input id=" Cabbage" class="custom-check" type="checkbox" name=" Cabbage" oninput="ingredCheck()">- Cabbage</label>
                                    </ul>

                                    <div class="custom-btn-slider">
                                        <button class="custom-order-button" type="button" onclick="customOrderOn()">Start A New Custom Order</button>
                                        <button class="custom-order-hidden" type="button" onclick="promptQuantity()">Create Mix!</button>
                                        <div class="custom-quantity">
                                            <img class="custom-btn-check" src="/images/icons/check.png">
                                            <img class="custom-btn-cross" src="/images/icons/cross.png">
                                            <p>How<br>Many?</p>
                                            <input oninput="customUpdate()" class="custom_num-input" type="number" min="1" max="3" value="1">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="order-spacer"></div>

        <!-- ORDER FORM SECTION -->

        <div id="order-form" class="avatar-pane--home adjust-order">
            <img class="section-img" src="/images/icons/cta/email-leaf-white.png">
            <h2>Place Your Order</h2>
        </div>

        <!-- ORDER FORM -->

        <div class="card card--contact-form">
            <div class="contact-card-inner-wrap">

                <!-- HIDDEN RESPONSE -->

                <% if ( responseBool == true ) { %>

                <div id="hidden-response" class="hidden-response">
                    <div class="response-box">
                        <% if ( isError == true ) { %>
                        <p>Ah bummer!</p>
                        <p>Looks like something went wrong.</p>
                        <p>I'm currently looking into the problem, try back soon!</p>
                        <% } else { %>
                        <p>Thanks!</p>
                        <p>Your message has been sent</p>
                        <p>We are looking forward to talking with you, we'll reach out within 2 or 3 business days.</p>
                        <% } %>
                    </div>
                </div>

                <% } else { %>

                <!-- DISPLAY FORM -->

                <form id="contact-form" class="contact-form" name="contact" method="post">

                    <div class="contact-card-top-section">
                        <div class="wyld-contact-info">
                            <label class="form-title">Your Name:</label>
                            <input class="form-entry" type="text" name="user_name" placeholder="Jean Luc" oninput="formFieldCheck()">
                            <label class="form-title">Email:</label>
                            <input class="form-entry" type="email" name="user_email" placeholder="your@email.com" oninput="formFieldCheck()">
                            <label class="form-title">City/Town</label>
                            <input class="form-entry" type="text" name="user_city" placeholder="Boulder, Superior, Louisville, Lafayette">
                            <label class="form-title">Phone Number</label>
                            <input class="form-entry" type="text" name="user_phone" placeholder="303 - 444 - 1234">
                        </div>

                        <div class="wyld-options">
                            <button id="contact-button" class="contact-submit">Your Order Form</button>
                            <div class="wyld-form-plans">
                                <label for="one_time" class="form-title">One-time Order</label>
                                <input id="one_time" type="checkbox" name="one_time" oninput="oneTimeDel()">
                                <br>
                                <label for="weekly" class="form-title">Weekly Delivery</label>
                                <input id="weekly" type="checkbox" name="weekly" oninput="weeklyDel()">
                                <br>
                                <label for="bulk" class="form-title">Bulk Order</label>
                                <input id="bulk" type="checkbox" name="bulk" oninput="bulkDel()">

                            </div>
                        </div>
                    </div>

                    <div class="contact-card-bottom-section">

                        <div class="form-text-pane">
                            <p style="margin-top: 0; " class="form-text-p">
                                Use this form to make any additions or changes. We will send&nbsp;a confirmation email with payment&nbsp;link shortly.
                            </p>

                            <p class="form-text-p">
                                Deliveries always take place<br>on Wednesday afternoons&nbsp;and evenings.&nbsp;Please remember to leave your&nbsp;used container at&nbsp;your&nbsp;door.
                            </p>
                        </div>

                        <div class="textarea-section">
                            <div class="message-details">
                                <label class="form-title message">Special Instructions:</label><br>
                                <textarea id="message-body" class="form-textarea-message" name="message" placeholder="Anything else to add?" oninput="formFieldCheck()"></textarea>
                            </div>
                        </div>

                        <div class="form-mix-pane">
                            <div class="wyld-form-mix">
                                <div class="mix-wrap">
                                    <label class="form-title mix-title"><input type="checkbox" name="mix_farmers" oninput="farmersCheckbox()">Farmer's Mix</label>
                                    <input class="form-num" type="number" name="farmers_num" placeholder="0" min="1" max="3" oninput="farmersInput()">
                                </div>

                                <div class="mix-wrap">
                                    <label class="form-title mix-title"><input type="checkbox" name="mix_spicy" oninput="spicyCheckbox()">Spicy Mix</label>
                                    <input class="form-num" type="number" name="spicy_num" placeholder="0" min="1" max="3" oninput="spicyInput()">
                                </div>

                                <div class="mix-wrap">
                                    <label class="form-title mix-title"><input type="checkbox" name="mix_healthy" oninput="healthyCheckbox()">Healthy Mix</label>
                                    <input class="form-num" type="number" name="healthy_num" placeholder="0" min="1" max="3" oninput="healthyInput()">
                                </div>

                                <div class="mix-wrap">
                                    <label class="form-title mix-title"><input type="checkbox" name="mix_salad" oninput="saladCheckbox()">Salad Mix</label>
                                    <input class="form-num" type="number" name="salad_num" placeholder="0" min="1" max="3" oninput="saladInput()">
                                </div>

                                <div class="mix-wrap">
                                    <input type="checkbox" name="mix_custom">
                                    <label class="form-title mix-title">Custom Mix</label>
                                    <input class="form-num" type="number" name="custom_num" placeholder="0" min="0" max="3" onchange="customQuantityVerify()">
                                </div>
                            </div>

                            <div class="quantity-total">
                                <label class="form-title mix-title">Total Boxes</label>
                                <input class="form-num" type="number" name="total_quan" placeholder="0">
                            </div>

                            <div class="price-total">

                                <div class="price-per-pane">
                                    <p>Each Box<br>$ 0</p>
                                </div>

                                <div class="bulk-discount-pane">
                                    <p>Discount<br>Applied!</p>
                                </div>

                                <div class="price-pane">
                                    <label class="form-title mix-title price-title">Price</label>
                                    <br>
                                    <p class="price-sign">$</p>
                                    <input class="price-num price-input" type="number" name="total_price" placeholder="0">
                                </div>
                            </div>

                            <div class="custom-order-details">
                                <label class="form-title custom-title">
                                    <h4>Custom Mix Details:</h4>
                                </label><br>

                                <div class="order num-1">
                                    <img onclick="removeCustomOrder(1)" class="form-btn-cross" src="/images/icons/cross.png">
                                    <input name="order1_num" type="number" min="1" max="3" placeholder="0" oninput="order1Input()">
                                    <textarea name="order1_ing" class="order-textarea" inputmode="none" onclick="addIngredientForm(event)" readonly>Add Ingredients</textarea>
                                </div>

                                <div class="order num-2">
                                    <img onclick="removeCustomOrder(2)" class="form-btn-cross" src="/images/icons/cross.png">
                                    <input name="order2_num" type="number" min="1" max="3" placeholder="0" oninput="order2Input()">
                                    <textarea name="order2_ing" class="order-textarea" inputmode="none" onclick="addIngredientForm(event)" readonly>Add Ingredients</textarea>
                                </div>

                                <div class="order num-3">
                                    <img onclick="removeCustomOrder(3)" class="form-btn-cross" src="/images/icons/cross.png">
                                    <input name="order3_num" type="number" min="1" max="3" placeholder="0" oninput="order3Input()">
                                    <textarea name="order3_ing" class="order-textarea" onclick="addIngredientForm(event)" readonly>Add Ingredients</textarea>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>

                <button id="contact-button-bottom" class="contact-submit-bottom" onclick="sendOrder()">Place Your Order</button>

                <% } %>

            </div>
        </div>

        <div class="scene-spacer"></div>

        <%- include("../views/partials/footer.ejs") -%>

        <!-- END of document -->
        