/* || Plane animation CSS file for "Wyldgreens" */

/* PLANE */

/* universal to planes */
.plane-component {
    display: inline-block;
    margin-left: -4px;
}

@keyframes flap {
    0% { transform: skewY(0deg); }
    23% { transform: skewY(-0.8deg); }
    38% { transform: skewY(.6deg); }
    60% { transform: skewY(-0.6deg); }
    85% { transform: skewY(0.4deg); }
    100% { transform: skewY(-0.8deg); }   
}

@keyframes prop {
    0% { transform: rotateX(0deg); }
    100% { transform: rotateX(359.9deg); }   
}

/* parent class - going left - starts from right */
.plane-pane-top-left {
    position: absolute;
    /* right: -787px; */
    z-index: 0;
    height: 60px;
    width: 400px;
    transform: scale(0.75);
    transition: right 40s linear, top 6.5s ease-in-out;
}

/* animation classes */
.plane-go-left {
    right: calc(100vw + 10px) !important;
}

.plane-wrap-up-left {
    transform: rotate(7deg);
}

.plane-wrap-down-left {
    transform: rotate(-7deg);
}

.banner-wrap-up-left {
    transform: skewY(6deg);
}

.banner-wrap-down-left {
    transform: skewY(-6deg);
}

/* image classes */
.plane-left {
    width: 104px;
    height: auto;
}

.banner-left {
    width: 251px;
    height: auto;
    position: relative;
    right: 4px;
}

.tail-left {
    width: 50px;
    height: auto;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    right: 20px;
    bottom: 5px;
    animation: flap infinite 1s;
    animation-direction: alternate-reverse;
    transform-origin: 0 0 0;
}

.prop-left {
    height: 46px;
    width: auto;
    position: relative;
    top: 10px;
    animation: prop .3s linear;
    animation-iteration-count: infinite;
    transform: rotateX(0deg);
}

/* wrappers */
.plane-wrap-left {
    display: inline-block;
    position: relative;
    z-index: 5;
    transform-origin: 100% 60% 0;
    transform: rotate(0deg);
    transition: transform 3s ease-in-out;
}

.banner-outerwrap-left {
    height: 38px;
    width: 267px;
    display: inline-block;
    margin-left: -4px;
    transform-origin: left;
    transform: skewY(0);
    transition: transform 2.8s ease-in-out;
    transition-delay: .2s;
}

.banner-wrap-left {
    position: relative;
    z-index: 4;
    height: 38px;
    width: 267px;
    display: inline-block;
    animation: flap infinite 7s;
    animation-direction: alternate;
    transform-origin: left;
    transform: skewY(0);
}

/* parent class - going left - starts right */
.plane-pane-bottom-left {
    position: absolute;
    top: 2900px;

    right: -400px;
    z-index: 0;
    height: 60px;
    width: 400px;
    transform: scale(0.65);
    transition: right 10s linear, top 6.5s ease-in-out;
}


/* image classes */
.plane-left {
    width: 104px;
    height: auto;
}

.banner-left {
    width: 251px;
    height: auto;
    position: relative;
    right: 4px;
}

.tail-left {
    width: 50px;
    height: auto;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    right: 20px;
    bottom: 5px;
    animation: flap infinite 1s;
    animation-direction: alternate-reverse;
    transform-origin: 0 0 0;
}

.prop-left {
    height: 46px;
    width: auto;
    position: relative;
    top: 10px;
    animation: prop .3s linear;
    animation-iteration-count: infinite;
    transform: rotateX(0deg);
}

/* wrappers */
.plane-wrap-bottom-left {
    display: inline-block;
    position: relative;
    z-index: 5;
    transform-origin: 100% 60% 0;
    transform: rotate(0deg);
    transition: transform 3s ease-in-out;
}

.banner-outerwrap-bottom-left {
    height: 38px;
    width: 267px;
    display: inline-block;
    margin-left: -4px;
    transform-origin: left;
    transform: skewY(0);
    transition: transform 2.8s ease-in-out;
    transition-delay: .2s;
}

.banner-wrap-bottom-left {
    position: relative;
    z-index: 4;
    height: 38px;
    width: 267px;
    display: inline-block;
    animation: flap infinite 7s;
    animation-direction: alternate;
    transform-origin: left;
    transform: skewY(0);
}

/* animation classes */
.plane-go-left {
    right: calc(100vw + 10px);
}

.plane-wrap-up-left {
    transform: rotate(7deg);
}

.plane-wrap-down-left {
    transform: rotate(-7deg);
}

.banner-wrap-up-left {
    transform: skewY(6deg);
}

.banner-wrap-down-left {
    transform: skewY(-6deg);
}


/* parent class - going right - starts left */
.plane-pane-bottom-right {
    position: absolute;
    top: 2800px;
    left: -400px;
    z-index: 0;
    height: 60px;
    width: 400px;
    transform: scale(0.65);
    transition: left 10s linear, top 6.5s ease-in-out;
}

/* wrappers */
.plane-wrap-bottom-right {
    display: inline-block;
    position: relative;
    width: 120px;
    z-index: 5;
    transform-origin: 0 60% 0;
    transform: rotate(0deg);
    transition: transform 3s ease-in-out;
}

.banner-outerwrap-bottom-right {
    height: 38px;
    width: 240px;
    display: inline-block;
    margin-left: -4px;
    transform-origin: right;
    transform: skewY(0);
    transition: transform 2.8s ease-in-out;
    transition-delay: .2s;
}

.banner-wrap-bottom-right {
    position: relative;
    z-index: 4;
    height: 38px;
    width: 267px;
    display: inline-block;
    animation: flap infinite 7s;
    animation-direction: alternate;
    transform-origin: right;
    transform: skewY(0);
}

/* image classes */
.prop-right {
    height: 46px;
    display: inline-block;
    margin-left: -4px;
    position: relative;
    top: 10px;
    animation: prop .3s linear;
    animation-iteration-count: infinite;
    transform: rotateX(0deg);
}

.plane-right {
    width: 104px;
    height: auto;
}

.banner-right {
    width: 251px;
    height: auto;
    position: relative;
    right: 4px;
}

.tail-right {
    width: 50px;
    height: auto;
    display: inline-block;
    margin-left: -4px;
    position: absolute;
    left: 2px;
    bottom: 5px;
    animation: flap infinite 1s;
    animation-direction: alternate-reverse;
    transform-origin: 100% 0 0;
}

/* animation classes */
.plane-go-right {
    left: calc(100vw + 10px) !important;
}

.plane-wrap-up-right {
    transform: rotate(-7deg);
}

.plane-wrap-down-right {
    transform: rotate(7deg);
}

.banner-wrap-up-right {
    transform: skewY(-6deg);
}

.banner-wrap-down-right {
    transform: skewY(6deg);
}

/* END of document */