/* Template assigned classes */

/* from module.css */

.greeting-pane--wyld {
    position: relative;
    max-width: 1000px;
    height: 397px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    overflow: hidden;
}

.greeting-pane--wyld h1 {
    display: inline-block;
    font-size: 60px;
}

.greeting-img--wyld {
    z-index: 50;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.greeting-img--wyld img {
    width: 1000px;
}

.greeting-text--wyld {
    z-index: 51;
    position: relative;
    top: 45px;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
}

.greeting-text--wyld p {
    margin: 15px auto;
    font-size: 20px;
    line-height: 1.6;
}

.card-pane--wyld {
    z-index: 52;
    position: relative;
    margin: -100px auto;
    text-align: center;
}

.wyld-card-inner-wrap {
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 8px;
    overflow: hidden;
}

.wyld-card-top-section {
    width: 100%;
    height: 108px;
    padding: 20px 30px;
    border-bottom: 1px solid;
}

.custom-top {
    height: 93px;
    transition: height .2s ease-in-out;
}

.wyld-card-bottom-section {
    position: relative;
    width: 100%;
    height: 76%;
    padding: 0px 0;
    overflow: hidden;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.wyld-card-top-section h3 {
    padding-top: 0px;
    font-size: 26px;
}

.card--wyld-center {
    z-index: 5;
    position: relative;
    display: inline-block;
    width: 320px;
    height: 470px;
    margin: 0px 5px;
    padding: 4px;
    top: 12px;
}

.card--wyld-innerleft {
    float: left;
    width: 118px;
    margin: 9px 0px 10px 18px;
    padding: 8px 8px 25px;
    border: 1px solid;
}

.card--wyld-innerright {
    float: right;
    width: 118px;
    margin: 9px 18px 10px 0;
    padding: 8px 0px 25px;
    border: 1px solid;
}

.text-pane--wyld {
    max-width: 673px;
    padding: 30px 0 30px;
    margin: 0px auto 0;
}

.text-pane--wyld h2 {
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}

.text-pane--wyld p {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
}

/* from theme.css */

.card--wyld-left {
    background-color: var(--secondary-color);
}

.card--wyld-right {
    background-color: var(--secondary-color);
}

.card--wyld-center {
    background-color: var(--secondary-color);
    /* transition: top .2s ease-in-out; */

}

.card--wyld-sides {
    background-color: var(--secondary-color);
    /* transition: margin .2s ease-in-out; */
}

.wyld-card-inner-wrap {
    border-radius: 8px;
    background-color: white;
    /* background: -moz-linear-gradient(to bottom, var(--secondary-light), var(--secondary-very-light) 4%);
    background: -webkit-linear-gradient(to bottom, var(--secondary-light), var(--secondary-very-light) 4%);
    background: -o-linear-gradient(to bottom, var(--secondary-light), var(--secondary-very-light) 4%);
    background: -ms-linear-gradient(to bottom, var(--secondary-light), var(--secondary-very-light) 4%);
    background: linear-gradient(to bottom, var(--secondary-light), var(--secondary-very-light) 4%); */
}

.wyld-card-top-section {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-color: var(--secondary-color);
    background-color: var(--secondary-light);
}

.mix-bg {
    background-color: whitesmoke;
}

/* Brand specific CSS for Wyldgreens */

.adjust-up {
    top: -16px;
}

.adjust-order {
    top: -15px;
}

.section-img {
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 120px;
    z-index: 10;
}

.mock-buttons {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 103;
}

.mock-buttons button {
    display: block;
}

.card--wyld-left {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 458px;
    margin: 0 30px;
    padding: 4px;
}

.card--wyld-right {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 458px;
    margin: 0px 30px;
    padding: 4px;
}

/* LIGHTBOX */

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 100;
    top: 0;
    background-color: #000000b9;
    pointer-events: none;
}

.lightbox img {
    width: 750px;
    height: auto;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

/* HEADER  */

.logo {
    position: relative;
    z-index: 6;
    display: block;
    margin: 18px auto 87px;
    width: 790px;
}

.grey-drop {
    position: absolute !important;
    width: 100% !important;
    z-index: -1;
    top: 0px;
}

.fullwidth-wrapper {
    margin-bottom: 30px;
}

.fullwidth-left-cont {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.fullwidth-right-cont {
    max-width: 1000px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}



.fullwidth-right-cont h2 {
    display: block;
    color: #ccc;
    line-height: 1.2;
}

.how-it-works-wrapper {
    font-size: 25px;
    text-align: center;
    width: 348px;
    margin: 0 auto;
    border: solid 4px var(--secondary-light);
    position: relative;
    background-color: white;
    top: -36px;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 6px -2px #222;
    cursor: pointer;
}

.how-it-works-wrapper h3 {
    padding: 10px 20px;
}

.how-subtitle {
    font-size: 24px;
    text-align: center;
    margin: 0px auto 35px;
}

/* CTA  */

.cta-num-1 {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 26px !important;
    letter-spacing: 2px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);

}

.cta-num-2 {
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 26px !important;
    letter-spacing: 2px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);
}

.cta-num-3 {
    position: absolute;
    letter-spacing: 2px;
    font-size: 23px !important;
    top: 1px;
    left: 9px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);
}

.cta-num-colon {
    font-size: 20px !important;
    position: relative;
    bottom: 2px;
}

.adjust-colon-down {
    bottom: 0px;
}

#plan-button {
    left: 28px;
    position: relative;
}

#plan-button h3 {
    bottom: 13px;
}

#mix-button h3 {
    bottom: 17px;
}

#order-button {
    right: 28px;
    position: relative;
    transition: right .2s ease-in-out, top .2s ease-in-out;
}

#order-button h3 {
    bottom: 13px;
}

.cta-img {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 0 auto -20px;
}

.green-arrow {
    position: absolute;
    z-index: 10;
    width: 55px;
    top: 127px;
    left: 319px;
    transform: rotate(44deg);
}

.second-arrow {
    left: 625px;
}

.cta-back {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 270px;
    padding-top: 48px;
    top: -48px;
    left: 0;
    margin-bottom: -55px;
    transition: left .2s ease-in-out, margin-bottom .2s ease-in-out;
}

.cta-button-background {
    background-color: white;
    width: 259px;
    height: 194px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 6px -2px #222;
    cursor: pointer;
    border: 4px solid var(--secondary-light);
}

.make-smaller {
    width: 220px;
}

.make-smaller h3 {
    font-size: 22px;
}

/* WHY  */

.committed {
    max-width: 550px;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: var(--copy-dark) !important;
    line-height: 1.3;
    position: relative;
    font-weight: 700;
    font-family: var(--headers);
    letter-spacing: 1px;
}

.wyld-why {
    position: relative;
    z-index: 5;
    max-width: 605px;
    padding: 19px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.35;
    text-align: center;

}

.wyld-why p {
    text-align: center !important;
}

.wyld-why h3 {
    text-align: center !important;
    font-size: 26px;
    margin: 0 auto 10px;
}

.wyld-why h4 {
    font-size: 24px;
}

.why-header {
    text-align: center !important;
    font-size: 30px;
    margin: 0px auto 20px;
    position: relative;
    font-size: 60px;
}

.why-subheader {
    text-align: center !important;
    font-size: 30px;
    margin: 0 auto 10px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
}

.why-list {
    border: 5px solid var(--secondary-color);
    border-radius: 12px;
    margin: 27px auto;
    padding: 30px 10px;
    background-color: white;
}

.farm-background {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 1161px;
}

.why-section {
    position: relative;
    /* height: 1102px; */
    margin-top: 70px;
}

.cloud {
    position: absolute;
    left: 26px;
    width: 92%;
    opacity: 0.2;
    top: -58px;
}

.wyld-why li {
    padding: 5px 0 5px 15px;
    margin-bottom: 30px;
}

.mountains {
    display: inline-block;
    width: 60%;
}

.custom {
    display: inline-block;
    width: 60%;
}

.certified {
    display: inline-block;
    width: 60%;
}

.truck {
    display: inline-block;
    width: 60%;
}

.list-item {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    position: relative;
    margin: 0 16px 0 6px;
}

/* MIX  */

.mix-body-text {
    max-width: 600px;
    padding: 22px 0 0px;
    margin: 0 auto -19px;
}

.mix-body-text p {
    display: inline-block;
    max-width: 600px;
    margin: 0px 0px 10px 15px;
    text-align: left;
    font-size: 20.5px;
    line-height: 1.75;
    letter-spacing: .5px;

}

.custom-img {
    width: 40%;
    height: auto;
    top: -11px;
    position: relative;
    padding: 10px;
    float: left;
    margin: 18px 0 18px 20px;
}

.mix-btn-pane {
    height: 44px;
    width: 120%;
    right: -30px;
    position: absolute;
    bottom: -1px;
    z-index: 1;
    background-color: whitesmoke;
    transition: border .25s ease-out .1s, box-shadow .25s ease-out .1s;
}

.mix-btn-pane-open {
    box-shadow: 1px 0px 13px -5px #222;
}

.mix-order-btn {
    margin-top: 10px;
    width: 148px;
    height: 45px;
    background-color: #c5dbc3;
    border: solid 1px var(--secondary-color);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    z-index: 10;
    position: relative;
    cursor: pointer;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;
    bottom: -12px;

}

.mix-quantity {
    height: 45px;
    /* border: 1px solid var(--secondary-color); */
    width: 150px;
    background-color: white;
    position: absolute;
    right: 71px;
    bottom: -1px;
    z-index: 2;
    border-radius: 4px;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;

}

.mix-quantity p {
    position: absolute;
    left: 23px;
    font-size: 14px;
    display: inline-block;
    top: 8px;
    font-family: var(--headers);
    font-weight: 700;
}

.mix-num-input {
    display: inline-block;
    top: 6px;
    width: 50px;
    position: absolute;
    right: 14px;
    padding: 3px 2px 2px 5px;
    border-radius: 0px;
    border: solid 1px grey;
    font-size: 16px;
    line-height: 25px;
}

.mix-quantity-clicked {
    transform: translateX(72px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.mix-button-clicked {
    transform: translateX(-73px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* border: none; */
}

.remove-btn-cover {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 99px;
    background-color: var(--secondary-color);
    width: 100px;
    height: 10px;
}

.farmers-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.spicy-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.salad-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.healthy-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-close {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 127px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out, left .2s ease-in-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-new {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 19px;
    width: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 183px;
    width: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.ingred-wrap {
    width: 318px;
    position: relative;
    left: 20px;
    bottom: 0;
    transition: box-shadow .2s ease-out, left .2s ease-in-out, bottom .2s ease-in-out;
}

.mix-remove-clicked {
    bottom: -18px;
}

.custom-close-clicked {
    bottom: -18px;
}


.custom-remove-clicked {
    bottom: -18px;

}

.mix-text {
    padding: 0 25px;
    color: #222;
    opacity: .7;
}

.farmers-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.farmers-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.spicy-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.spicy-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.salad-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.salad-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.healthy-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.healthy-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.custom-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 97px;
    display: none;
}

.custom-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.custom-check {
    display: inline-block;
    opacity: 0.4;
}

.ingred-box {
    background-color: white;
    border: 1px solid var(--secondary-color);
    width: 328px;
    height: 139px;
    margin-top: 20px;
    border-radius: 6px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    overflow: hidden;
    transition: box-shadow .2s ease-out;
    z-index: 5;
}

.custom-btn-slider {
    border-top: 1px solid lightgrey;
    height: 45px;
    width: 500px;
    position: absolute;
    /* transition: transform .2s ease-out; */
    background-color: white;
    z-index: 4;
    bottom: 0;
}

.custom-btn-slider-anim {
    transform: translateX(-164px);

}

.custom-quantity {
    height: 44px;
    width: 164px;
    background-color: whitesmoke;
    position: absolute;
    right: 10px;
}

.custom-quantity p {
    position: absolute;
    left: 31px;
    font-size: 14px;
    display: inline-block;
    top: 7px;
}

.custom-num-input {
    display: inline-block;
    top: 6px;
    width: 50px;
    position: absolute;
    left: 97px;
    padding: 3px 2px 2px 5px;
    border-radius: 0px;
    border: solid 1px grey;
    font-size: 16px;
    line-height: 25px;
}

.custom-ingredients {
    display: inline-block;
    width: 49%;
    margin: 0px auto;
    font-size: 18px;
    opacity: .8;
    text-align: left;
    position: relative;
    left: 8px;
    padding: 8px;
    vertical-align: top;
}

.custom-ingredients label {
    display: inline-block;
    font-weight: 400;
    font-family: var(--copy);
    cursor: default;
}

.custom-order-shadow {
    box-shadow: 1px 1px 15px -5px #222;
}

.custom-order-button {
    z-index: 1;
    margin-top: 0px;
    width: 327px;
    height: 45px;
    background-color: var(--secondary-light);
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    float: left;
    bottom: 1px;
    cursor: pointer;
}

.custom-order-btn-clicked {
    border-top: none;
    background-color: whitesmoke;
    width: 164px;
    height: 45px;
    pointer-events: none;
    opacity: .8;
}

.custom-order-hidden {
    z-index: 5;
    margin-top: 0px;
    height: 45px;
    background-color: var(--secondary-light);
    border: solid 1px var(--secondary-color);
    border-bottom: none;
    border-top: none;

    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 1px;
    cursor: pointer;
    display: none;
    width: 166px;
    float: left;
}

.custom-order-hidden-clicked {
    display: inline-block;
    border-bottom-left-radius: 0px;
    height: 45px;
    right: 0px;
}

.custom-order {
    margin-top: 0px;
    width: 662px;
    height: 350px;
    background-color: var(--secondary-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 0px;
    transition: width .2s ease-in-out, height .2s ease-in-out;
}

.custom-text {
    margin: 10px;
    padding: 0 0px;
    opacity: .7 !important;
    line-height: 1.1;
    color: #222;
    font-family: var(--copy);
    font-weight: 400;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* PLANS  */

.best-value {
    font-weight: 700;
    opacity: 1;
    font-size: 20px;
    margin-top: 10px;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 4px;
    width: 312px;
    position: relative;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
}

.mix-back {
    position: absolute;
    width: 100%;
    opacity: .06;
    z-index: 1;
    height: 1928px;
    background-color: #00987c;
}

.plan-back {
    position: absolute;
    height: 262px;
    width: 100%;
    margin-top: -15px;
    opacity: .06;
    z-index: 1;
    height: 1217px;
    margin-top: -40px;
    background-color: #00987c;
}

.plan-order {
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: none;
    background-color: #c5dbc3;
    font-size: 20px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    cursor: pointer;
    z-index: 5;
    transition: transform .2s ease-out, border-top-right-radius .2s ease-out, width .2s ease-out;
}

.center-plan-btn {
    bottom: 55px;
    width: 190px;
}

.weekly-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 24px;
    display: none;
}

.one_time-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 19px;
    display: none;
}

.bulk-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 19px;
    display: none;
}

.sides-btn-clicked {
    transform: translateX(-88%);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 150px;
}

.center-btn-clicked {
    transform: translateX(-83%);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}

.plan-btn-pane {
    height: 45px;
    width: 120%;
    right: -30px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    transition: border .25s ease-out .1s, box-shadow .25s ease-out .1s;
}

.plan-btn-pane-open {
    box-shadow: 1px 0px 13px -5px #222;
}

#weekly-pane {
    bottom: 55px;
}

#weekly-added {
    bottom: 55px;
    padding-right: 5px;
}

.plan-added {
    height: 45px;
    width: 150px;
    background-color: white;
    position: absolute;
    right: 67px;
    bottom: 50px;
    z-index: 2;
    border-radius: 4px;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;
}

.plan-added p {
    position: relative;
    left: -8px;
    font-size: 14px;
    display: inline-block;
    top: 15px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--secondary-color);
}

.plan-added-clicked {
    transform: translateX(72px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.plan-text {
    max-width: 600px;
    padding: 0px 0 20px;
    margin: 0 auto 60px;
}

.plan-text p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    max-width: 600px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 20.5px;
    line-height: 1.75;
    letter-spacing: .5px;
}

.card--wyld-sides {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 270px;
    height: 430px;
    margin: 0px 5px;
    padding: 4px;
}

.side-plans {
    height: 36%;
    padding-top: 8px;
}

.center-plan {
    height: 36%;
    padding-top: 0px;
}

.wyld-left-section {
    width: 45%;
    display: inline;
}

.wyld-right-section {
    width: 55%;
    height: 100%;
    display: inline-block;
    padding-top: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: width .2s ease-in-out;
}

.plan-title {
    font-size: 60px !important;
    margin-bottom: 11px !important;
}

.leaf-bullet-top {
    float: left;
    position: relative;
    top: 19px;
    left: 17px;
    width: 12px;
    opacity: .5;
}

.leaf-bullet-single {
    float: left;
    position: relative;
    top: 18px;
    left: 17px;
    width: 12px;
    opacity: .5;

}

.leaf-bullet-double {
    float: left;
    position: relative;
    top: 29px;
    left: 17px;
    width: 12px;
    opacity: .5;

}

.center-leaf {
    left: 25px;
}

.plan-center-adjust {
    margin-top: 24px;
}

/* ORDER */



/* 
.order-text {
    max-width: 550px;
    padding: 0px 0 20px;
    margin: 0 auto;
}

.order-text p {
    display: inline-block;
    max-width: 550px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

*/

.form-title {
    margin-bottom: 6px;
    font-family: var(--copy);
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}


/* TOP SECTION */

/* CUSTOMER INFO */
.wyld-contact-info {
    position: relative;
    display: inline-block !important;
    width: 55%;
}

/* REVIEW/PLANS */

.wyld-options {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: top .2s ease-in-out;
}

.wyld-form-plans {
    border-left: solid 1px var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
    border-bottom-left-radius: 4px;
    display: block;
    width: 302px;
    height: 140px;
    padding: 25px 20px 30px;
    background-color: whitesmoke;
    position: relative;
}

.wyld-form-plans label {
    font-size: 22px;
    display: inline-block;
}

.wyld-form-plans input {
    display: inline-block;
}

.contact-card-top-section input[type=checkbox] {
    float: right;
}

.delivery-text {
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    margin-top: 0px;
}

.wyld-form-plans label {
    cursor: pointer;
}

.wyld-form-plans input {
    width: 28px;
    height: 23px;
    margin-bottom: 0px;
}

/* BOTTOM SECTION */

/* LAYOUT PANES */

.form-text-pane {
    width: 400px;
    position: absolute;
    top: -3px;
    left: 0px;
    padding: 0 32px;
    transition: left .2s ease-in-out;
}

.form-mix-pane {
    position: absolute;
    width: 271px;
    height: 448px;
    right: 0px;
    top: 0px;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: right .2s ease-in-out, top .2s ease-in-out, width .2s ease-in-out;
}

.textarea-section {
    position: absolute;
    width: 400px;
    height: 218px;
    left: -1px;
    bottom: 45px;
    transition: width .2s ease-in-out;
}

/* MIX BOX */

.custom-order-details {
    padding: 0 18px;
    position: relative;
    top: -24px;
}

.form-title h4 {
    color: var(--copy-mid);
    opacity: 0.9;
}

.wyld-form-mix {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: inline-block;
    width: 100%;
    height: 190px;
    padding: 10px;
    margin: 0 30px 20px 0;
    background-color: #c5e2c8;
    position: relative;
}

.mix-wrap {
    margin-bottom: 10px;
}

.mix-wrap input {
    border: 1px solid var(--secondary-light);
}

.mix-wrap input[type=checkbox] {
    display: inline-block;
}

.wyld-form-mix input[type=checkbox] {
    float: left;
    margin-right: 6px;
}

.wyld-form-mix input[type=number] {
    float: right;
}

.form-num {
    display: inline-block;
    width: 65px;
    border: 1px solid lightgrey;
}

.mix-title {
    display: inline;
}

.mix-wrap input[name=mix_custom] {
    pointer-events: none;
}

.mix-wrap input[name=custom-num] {
    user-select: none;
    cursor: none;
    pointer-events: none;
}

/* PRICE BOX */


.price-right {
    right: 0px;
    position: relative;
    float: right;
}

.quantity-total {
    padding: 0 10px 0 17px;
    position: relative;
    top: -50px;
}

.quantity-total input {
    float: right;
    pointer-events: none;
    user-select: none;
}

.price-total {
    position: relative;
    top: -40px;
    height: 65px;
    background-color: white;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.bulk-discount-pane {
    display: inline-block;

    position: relative;
    top: 10px;
    left: 19px;
    width: 80px;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 4px;
    opacity: 0.2;
    transition: left .2s ease-in-out;
}

.bulk-discount-pane p {
    text-align: center;
    font-family: var(--headers);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.price-per-pane {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 12px;
    width: 80px;
    border: 1px solid lightgrey;
    padding: 5px;
    border-radius: 4px;
}

.price-per-pane p {
    text-align: center;
    font-family: var(--headers);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.price-pane {
    position: absolute;
    right: -5px;
    top: 10px;
    display: inline-block;
    width: 80px;

}

.price-num {
    user-select: none;
    pointer-events: none;
    cursor: none;
    width: 64px;
    border: 1px solid lightgrey;
}

.price-title {
    top: -3px;
    right: -7px;
    position: relative;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 22px;
    color: var(--secondary-color);
}

.price-input {
    top: 0px;
    left: 0px;
    position: relative;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid lightgrey;
}

/* COPY BOX */

.form-text-p {
    font-size: 18px;
    line-height: 1.3;
    max-width: 400px;
    text-align: center;
    margin: 15px auto;
}

/* CUSTOM ORDERS */

.custom-title {
    margin: 0 auto 8px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.order {
    margin: 10px auto 14px;
}

.order input {
    width: 40px;
    margin: -2px 7px 14px 0;
    display: inline-block;
    vertical-align: top;
}

.order p {
    display: inline-block;
    max-width: 155px;
    vertical-align: top;
    position: relative;
    top: 0px;
}

.num-1 {
    cursor: pointer;
}

.num-2 {
    display: none;
    cursor: pointer;
}

.num-3 {
    display: none;
    cursor: pointer;
}

.form-btn-cross {
    display: inline-block;
    width: 14px;
    margin: 1px 7px 0 0px;
    cursor: pointer;
    opacity: 0.3;
}

/* MESSAGE AREA */

.form-textarea-message {
    height: 192px;
}

.message {
    position: relative;
}

.message-details {
    display: inline-block;
    vertical-align: top;
}

/* BOTTOM SUBMIT */

.contact-submit-bottom {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 20;
    height: 100px;
    border: 4px solid var(--secondary-color);
    margin: 0 auto;
    font-family: var(--headers);
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 1px;
    pointer-events: none;
}

.hills {
    width: 105px;
    top: 16px;
    left: -3px;
}

.packages {
    top: 4px;
}

.checkmark {
    top: 2px;
}

.delivery {
    top: 20px;
}

.plan-spacer {
    height: 130px;
}

.background-scene {
    position: fixed;
    width: 100vw;
    height: 3500px;
    text-align: center;
}

.scene-back {
    background-image: url(/images/farm/horse-farm-large-test1.png);
    background-position: center;
    position: absolute;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    height: 3500px;
}