/* Brand specific CSS for Wyldgreens */

.adjust-up {
    top: -45px;
}

.adjust-order {
    top: -25px;
}

.section-img {
    position: relative;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 120px;
    z-index: 10;
}

.mock-buttons {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 103;
}

.mock-buttons button {
    display: block;
}

.card--tech-left {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 458px;
    margin: 0 30px;
    padding: 4px;
}

.card--tech-right {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 458px;
    margin: 0px 30px;
    padding: 4px;
}

/* HEADER  */

.grey-drop {
    position: absolute !important;
    width: 100% !important;
    z-index: -1;
    top: 0px;
}

.fullwidth-wrapper {
    margin-bottom: 30px;
}

.fullwidth-left-cont {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.fullwidth-right-cont {
    max-width: 1000px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.fullwidth-right-cont img {
    /* width: 100vw; */
    display: block;
    margin: 18px auto 23px;
}

.fullwidth-right-cont h2 {
    display: block;
    color: #ccc;
    line-height: 1.2;
}

.how-it-works-wrapper {
    font-size: 25px;
    text-align: center;
    width: 348px;
    margin: 0 auto;
    border: solid 1px #222;
    position: relative;
    background-color: white;
    top: -36px;
    border-radius: 5px;
    z-index: 10;
}

.how-it-works-wrapper h3 {
    padding: 10px 20px;
}

.how-subtitle {
    font-size: 24px;
    text-align: center;
    margin: 0px auto 35px;
}

/* CTA  */

.cta-num-1 {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 26px !important;
    letter-spacing: 2px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);

}

.cta-num-2 {
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 26px !important;
    letter-spacing: 2px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);
}

.cta-num-3 {
    position: absolute;
    letter-spacing: 2px;
    font-size: 23px !important;
    top: 1px;
    left: 9px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--copy-dark);
}

.cta-num-colon {
    font-size: 20px !important;
    position: relative;
    bottom: 2px;
}

.adjust-colon-down {
    bottom: 0px;
}

#plan-button {
    left: 28px;
    position: relative;
}

#plan-button h3 {
    bottom: 13px;
}

#mix-button h3 {
    bottom: 17px;
}

#order-button {
    right: 28px;
    position: relative;
}

#order-button h3 {
    bottom: 13px;
}


.cta-link {}

.cta-img {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 0 auto -20px;
}

.green-arrow {
    position: absolute;
    z-index: 10;
    width: 55px;
    top: 127px;
    left: 319px;
    transform: rotate(44deg);
}

.second-arrow {
    left: 625px;

}

.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 100;
    top: 0;

    background-color: #000000b9;
    pointer-events: none;
}

.lightbox img {
    width: 750px;
    height: auto;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.cta-back {
    position: relative;
    z-index: 5;
    /* background-color: #f0f9f7; */
    width: 100%;
    height: 270px;
    padding-top: 48px;
    top: -48px;
    margin-bottom: -55px;
}

.cta-button-background {
    background-color: white;
    width: 259px;
    height: 194px;
    
    padding: 15px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 6px -2px #222;
    cursor: pointer;
    border: 4px solid var(--secondary-light);
}

.make-smaller {
    width: 220px;
}

.make-smaller h3 {
    font-size: 22px;
}

    
/* WHY  */

.committed {
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: var(--copy-dark) !important;
    line-height: 1.3;
    position: relative;
    font-weight: 700;
    font-family: var(--headers);
    letter-spacing: 1px;
}

.wyld-why {
    max-width: 605px;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    position: relative;
    left: 10px;
}

.wyld-why p {
    text-align: center !important;
}

.wyld-why h3 {
    text-align: center !important;
    font-size: 26px;
    margin: 0 auto 10px;
}

.wyld-why h4 {
    font-size: 24px;
}

.why-header {
    text-align: center !important;
    font-size: 30px;
    margin: 0 auto 20px;
    position: relative;
    font-size: 60px;
    padding-top: 71px;
}

.why-subheader {
    text-align: center !important;
    font-size: 30px;
    margin: 0 auto 10px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 15px;
}

.why-list {
    border: 5px solid var(--secondary-color);
    border-radius: 12px;
    margin: 27px auto;
    padding: 30px 10px;
    background-color: white;
}

.farm-background {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 1161px;
}

.farm-scene {
    height: 1102px;
}

.cloud {
    position: absolute;
    left: 55px;
    width: 87%;
    opacity: 0.25;
    top: 311px;
}

.wyld-why li {
    padding: 5px 0 5px 15px;
    margin-bottom: 30px;
}

.mountains {
    display: inline-block;
    width: 60%;
    margin-bottom: 10px;
}

.custom {
    display: inline-block;
    width: 60%;
}

.certified {
    display: inline-block;
    width: 60%;
}

.truck {
    display: inline-block;
    width: 60%;
}

.list-item {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    position: relative;
}

/* MIX  */

.mix-body-text {
    max-width: 550px;
    padding: 50px 0 20px;
    margin: 0 auto;
}

.mix-body-text p {
    display: inline-block;
    max-width: 550px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

.custom-img {
    width: 40%;
    height: auto;
    top: -11px;
    position: relative;
    padding: 10px;
    float: left;
    margin: 18px 0 18px 20px;
}

.mix-btn-pane {
    height: 44px;
    width: 120%;
    right: -30px;
    position: absolute;
    bottom: -1px;
    z-index: 1;
    background-color: whitesmoke;
    transition: border .25s ease-out .1s, box-shadow .25s ease-out .1s;
}

.mix-btn-pane-open {
    box-shadow: 1px 0px 13px -5px #222;
}

.mix-order-btn {
    margin-top: 10px;
    width: 148px;
    height: 45px;
    background-color: #c5dbc3;
    border: solid 1px var(--secondary-color);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    z-index: 10;
    position: relative;
    cursor: pointer;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;
    bottom: -12px;

}

.mix-quantity {
    height: 45px;
    /* border: 1px solid var(--secondary-color); */
    width: 150px;
    background-color: white;
    position: absolute;
    right: 71px;
    bottom: -1px;
    z-index: 2;
    border-radius: 4px;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;

}

.mix-quantity p {
    position: absolute;
    left: 23px;
    font-size: 14px;
    display: inline-block;
    top: 8px;
    font-family: var(--headers);
    font-weight: 700;
}

.mix-num-input {
    display: inline-block;
    top: 6px;
    width: 50px;
    position: absolute;
    right: 14px;
    padding: 3px 2px 2px 5px;
    border-radius: 0px;
    border: solid 1px grey;
    font-size: 16px;
    line-height: 25px;
}

.mix-quantity-clicked {
    transform: translateX(72px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.mix-button-clicked {
    transform: translateX(-73px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* border: none; */
}

.remove-btn-cover {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 99px;
    background-color: var(--secondary-color);
    width: 100px;
    height: 10px;
}

.farmers-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.spicy-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.salad-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.healthy-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-close {
    z-index: 2;
    position: absolute;
    bottom: 5px;
    left: 127px;
    width: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out, left .2s ease-in-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-new {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 19px;
    width: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.custom-remove {
    z-index: 1;
    position: absolute;
    bottom: 5px;
    left: 183px;
    width: 120px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 1px solid var(--secondary-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: bottom .2s ease-out;
    background-color: whitesmoke;
    cursor: pointer;
}

.ingred-wrap {
    width: 89%;
    position: relative;
    left: 20px;
    transition: box-shadow .2s ease-out;
}

.mix-remove-clicked {
    bottom: -18px;
}

.custom-close-clicked {
    bottom: -18px;
}


.custom-remove-clicked {
    bottom: -18px;

}

.mix-text {
    padding: 0 25px;
    color: #222;
    opacity: .7;
}

.farmers-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.farmers-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.spicy-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.spicy-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.salad-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.salad-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.healthy-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 90px;
    display: none;
}

.healthy-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.custom-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 97px;
    display: none;
}

.custom-btn-cross {
    width: 30px;
    position: absolute;
    bottom: 8px;
    right: 90px;
    display: none;
}

.custom-check {
    display: inline-block;
    opacity: 0.4;
}

.ingred-box {
    background-color: white;
    border: 1px solid var(--secondary-color);
    width: 329px;
    height: 139px;
    margin-top: 20px;
    border-radius: 6px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    overflow: hidden;
    transition: box-shadow .2s ease-out;
    z-index: 5;
}

.custom-btn-slider {
    border-top: 1px solid lightgrey;
    height: 45px;
    width: 500px;
    position: absolute;
    transition: transform .3s ease-out;
    background-color: white;    
    z-index: 4;
    bottom: 0;
}


.custom-btn-slider-anim {
    transform: translateX(-164px);

}

.custom-quantity {
    height: 44px;
    width: 164px;
    background-color: whitesmoke;
    position: absolute;
    right: 10px;
}


.custom-quantity p {
    position: absolute;
    left: 31px;
    font-size: 14px;
    display: inline-block;
    top: 7px;
}



.custom-num-input {
    display: inline-block;
    top: 6px;
    width: 50px;
    position: absolute;
    left: 97px;
    padding: 3px 2px 2px 5px;
    border-radius: 0px;
    border: solid 1px grey;
    font-size: 16px;
    line-height: 25px;
}

.custom-ingredients {
    display: inline-block;
    width: 49%;
    margin: 0px auto;
    font-size: 18px;
    opacity: .8;
    text-align: left;
    position: relative;
    left: 8px;
    padding: 8px;
    vertical-align: top;
}

.custom-ingredients label {
    display: inline-block;
    font-weight: 400;
    font-family: var(--copy);
    cursor: default;
}

.custom-order-shadow {
    box-shadow: 1px 1px 15px -5px #222;
}


.custom-order-button {
    z-index: 1;
    margin-top: 0px;
    width: 327px;
    height: 45px;
    background-color: var(--secondary-light);
    border-top: solid 1px var(--secondary-color);
    /* border-bottom-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    float: left;
    bottom: 1px;
    cursor: pointer;
}

.custom-order-btn-clicked {
    border-top: none;
    background-color: whitesmoke;
    width: 164px;
    height: 45px;
    pointer-events: none;
    opacity: .8;
}

.custom-order-hidden {
    z-index: 5;
    margin-top: 0px;
    height: 45px;
    background-color: var(--secondary-light);
    border: solid 1px var(--secondary-color);
    /* border-bottom-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    border-bottom: none;
    /* border-left: none; */
    /* border-right: none; */
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 1px;
    /* right: 1px; */
    cursor: pointer;
    display: none;
    width: 166px;
    float: left;
}

.custom-order-hidden-clicked {
    display: inline-block;
    /* border-top: none; */
    border-bottom-left-radius: 0px;
    height: 45px;
    
    right: 0px;
}

.custom-order {
    margin-top: 0px;
    width: 662px;
    height: 350px;
    background-color: var(--secondary-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 0px;
}

.custom-text {
    margin: 10px;
    padding: 0 0px;
    opacity: .7 !important;
    line-height: 1.1;
    color: #222;
    font-family: var(--copy);
    font-weight: 400;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* PLANS  */

.best-value {
    font-weight: 700;
    opacity: 1;
    font-size: 20px;
    margin-top: 10px;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 4px;
    width: 312px;
    position: relative;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.mix-back {
    position: absolute;
    width: 100%;
    opacity: .06;
    z-index: 1;
    height: 1928px;
    background-color: #00987c;
}

.plan-back {
    position: absolute;
    height: 262px;
    width: 100%;
    margin-top: -15px;
    opacity: .06;
    z-index: 1;
    height: 1217px;
    margin-top: -40px;
    background-color: #00987c;
}

.plan-order {
    margin-top: 10px;
    border: 1px solid var(--secondary-color);
    width: 180px;
    height: 45px;
    position: absolute;
    bottom: 51px;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: none;
    background-color: #c5dbc3;
    font-size: 20px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    cursor: pointer;
    z-index: 5;
    transition: transform .2s ease-out, border-top-right-radius .2s ease-out, width .2s ease-out;
}

.center-plan-btn {
    bottom: 55px;
    width: 190px;
}

.weekly-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 24px;
    display: none;
}

.one_time-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 19px;
    display: none;
}

.bulk-btn-check {
    width: 30px;
    position: absolute;
    bottom: 11px;
    right: 19px;
    display: none;
}

.sides-btn-clicked {
    transform: translateX(-88%);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 150px;
}

.center-btn-clicked {
    transform: translateX(-83%);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}

.plan-btn-pane {
    height: 45px;
    width: 120%;
    right: -30px;
    position: absolute;
    bottom: 50px;
    z-index: 1;
    transition: border .25s ease-out .1s, box-shadow .25s ease-out .1s;
}

.plan-btn-pane-open {
    box-shadow: 1px 0px 13px -5px #222;
}

#weekly-pane {
    bottom: 55px;
}

#weekly-added {
    bottom: 55px;
    padding-right: 5px;
}

.plan-added {
    height: 45px;
    width: 150px;
    background-color: white;
    position: absolute;
    right: 67px;
    bottom: 50px;
    z-index: 2;
    border-radius: 4px;
    transition: transform .2s ease-out, border-top-left-radius .2s ease-out, border-top-right-radius .2s ease-out;
}

.plan-added p {
    position: relative;
    left: -8px;
    font-size: 14px;
    display: inline-block;
    top: 15px;
    font-family: var(--headers);
    font-weight: 700;
    color: var(--secondary-color);
}

.plan-added-clicked {
    transform: translateX(72px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
}

.plan-text {
    max-width: 550px;
    padding: 0px 0 20px;
    margin: 0 auto 60px;
}

.plan-text p {
    display: inline-block;
    max-width: 550px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

.card--tech-sides {
    position: relative;
    bottom: 0;
    display: inline-block;
    width: 270px;
    height: 430px;
    margin: 0px 5px;
    padding: 4px;
}

.side-plans {
    height: 36%;
    padding-top: 8px;
}

.center-plan {
    height: 36%;
    padding-top: 0px;
}

.card--tech-center {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 470px;
    margin: 0px 5px;
    padding: 4px;
    top: 10px;
}

.wyld-left-section {
    width: 45%;
    display: inline;
}

.wyld-right-section {
    width: 55%;
    height: 100%;
    display: inline-block;
    padding-top: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.plan-title {
    font-size: 60px !important;
    margin-bottom: 11px !important;
}

.leaf-bullet-top {
    float: left;
    position: relative;
    top: 19px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

.leaf-bullet-single {
    float: left;
    position: relative;
    top: 18px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

.leaf-bullet-double {
    float: left;
    position: relative;
    top: 29px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

/* ORDER  */

.wyld-form-mix input[type=checkbox] {
    float: left;
    margin-right: 6px;
}

.wyld-form-mix input[type=number] {
    float: right;
}

.contact-card-top-section input[type=checkbox] {
    float: right;
}

.wyld-form-plans {
    border-left: solid 1px var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
    border-bottom-left-radius: 4px;
    display: block;
    width: 371px;
    height: 140px;
    padding: 15px 20px 30px;
    background-color: whitesmoke;
    position: relative;
    left: 0px;
    bottom: -6px;
}

.wyld-form-plans label {
    font-size: 22px;
    display: inline-block;
}

.wyld-form-plans input {
    display: inline-block;
}

.delivery-text {
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    margin-top: 0px;
}

.wyld-form-mix {
    border: solid 1px var(--secondary-color);
    display: inline-block;
    width: 280px;
    padding: 10px;
    margin: 0 30px 20px 0;
    background-color: whitesmoke;
    position: relative;
}

.order-text {
    max-width: 550px;
    padding: 0px 0 20px;
    margin: 0 auto;
}

.order-text p {
    display: inline-block;
    max-width: 550px;
    margin: 0px 0px 10px 0px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
}

.form-num {
    display: inline-block;
    width: 65px;
}

.wyld-contact-info {
    display: inline-block !important;
    width: 40%;
}

.wyld-options {
    display: inline-block !important;
    width: 35%;
    position: relative;
    left: 95px;
    bottom: 10px;
}

.mix-wrap {
    margin-bottom: 10px;
}

.mix-wrap input[type=checkbox] {
    display: inline-block;
}

.form-title {
    margin-bottom: 6px;
    font-family: var(--copy);
    font-size: 20px;
    font-weight: 400;
    display: inline-block;
}

.message {
    left: 176px;
    position: relative;
}

.mix-title {
    display: inline;
}

.form-text-wrap {
    display: inline-block;
    max-width: 450px;
    position: relative;
    top: 13px;
    left: 20px;
}

.form-text-p {
    font-size: 18px;
    line-height: 1.3;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
}

.price-num {
    user-select: none;
    pointer-events: none;
    cursor: none;
    width: 50px;

}

.custom-order-details {
    display: inline-block;
    vertical-align: top;
}

.message-details {
    display: inline-block;
    vertical-align: top;

}

.order {
    margin: 10px auto;

}

.order input {
    width: 40px;
    margin: -2px 7px 14px 0;
    display: inline-block;
    vertical-align: top;

}

.order p {
    display: inline-block;
    max-width: 270px;
    vertical-align: top;

}

.bulk-discount-pane {
    display: none;
    position: absolute;
    bottom: 16px;
    right: 95px;
}

.bulk-discount-pane p {
    font-family: var(--headers);
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    
}

.price-total {
    position: absolute;
    top: 42%;
    left: 231px;
}

.wyld-form-plans label {
    cursor: pointer;
}

.wyld-form-plans input {
    width: 28px;
    height: 23px;
    margin-bottom: 0px;
}

.lower-section {
    width: 100%;
    height: fit-content;
    margin-top: 78px;

}

.num-1 {
    cursor: pointer;
}

.num-2 {
    display: none;
    cursor: pointer;
    
}

.num-3 {
    display: none;
    cursor: pointer;

}

.mix-wrap input[name=custom-num] {
    user-select: none;
    cursor: none;
    pointer-events: none;
}

.contact-submit-bottom {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 20;
    height: 100px;
    border: 4px solid var(--secondary-color);
    margin: 0 auto;
    font-family: var(--headers);
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 1px;
    pointer-events: none;
}

.form-btn-cross {
    display: inline-block;
    width: 15px;
    margin: 0 15px 0 0px;
    cursor: pointer;
    opacity: 0.3;
}

.l-divider {
    opacity: 0 !important;
}

.mix-wrap input[name=mix_custom] {
    pointer-events: none;
}