/* BACKGROUND SCENE  */

@media screen and (min-width: 2000px) {

    .scene-back {
        background-image: url(/images/farm/horse-farm-large-test1.png);
    }
    
}


@media screen and (max-width: 1999px) {

    .scene-back {
        background-image: url(/images/farm/horse-farm-mid.png);
    }

}



/* ORDER FORM  */
@media screen and (max-width: 830px) {

    .card--contact-form {
        width: 715px;
        height: 906px;
    }

    .form-entry {
        width: 342px;
    }

    .textarea-section {
        width: 342px;
    }

    .form-text-pane {
        left: -31px;
    }

    @media screen and (max-width: 735px) {

        .card--contact-form {
            height: 1630px;
            width: 412px;
        }

        .contact-card-top-section {
            height: 543px;
        }

        .contact-card-bottom-section {
            height: 961px;
        }

        .wyld-options {
            position: relative;
            top: 15px;
        }

        .wyld-contact-info {
            top: 85px;
        }

        .contact-submit {
            top: -283px;
            left: -31px;
            width: 406px;
            height: 90px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;

        }

        .form-mix-pane {
            right: 0px;
            top: 230px;
            width: 342px;
        }

        .wyld-form-plans {
            border: 1px solid var(--secondary-color);
            border-radius: 4px;
            width: 342px;
        }

        .bulk-discount-pane {
            left: 54px;
        }

    }

}

/* CUSTOM ORDER FORM  */
@media screen and (max-width: 724px) {

    .custom-order {
        width: 328px;
        height: 600px;
        margin: 0 auto;
    }


    .custom-top {
        height: 108px;
    }

    .custom-img {
        width: 85%;

    }

    .wyld-right-section {
        width: 94%;

    }

    .custom-bottom {
        height: 515px;
    }

    .ingred-wrap {
        left: -8px;
        bottom: -10px;
    }

    .wyld-right-section {
        top: 45%;
    }

    .ingred-box {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

    }

    .custom-close-clicked {
        bottom: 138px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    .custom-remove-clicked {
        bottom: 138px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}

@media screen and (max-width: 741px) {

    .card--wyld-left {
        margin-bottom: 30px;
    }

    .card-pane--wyld {
        margin: -100px auto -130px;
    }

}

/* PLAN CARDS  */
@media screen and (max-width: 915px) {

    .card--wyld-sides {
        margin: 0 -24px;
    }

    @media screen and (max-width: 840px) {

        .card--wyld-sides {
            margin: 10px 120px;
        }

        .card--wyld-center {
            top: 0;
        }




    }

}


/* CTA BUTTONS  */

@media screen and (max-width: 999px) {

    .green-arrow {
        display: none;
    }

    @media screen and (max-width: 821px) {

        #order-button {
            right: -150px;
            top: 20px;
        }

        .cta-back {
            left: 49%;
            transform: translateX(-50%);
            width: 550px;
            margin-bottom: 160px;
        }

        .l-box-third {
            width: 265.31px;
        }

        .why-section {
            margin-top: 235px;
            /* height: 980px; */
        }

    }

}



/* LOGO  */

@media screen and (max-width: 820px) {

    .logo {
        width: 632px;
    }

    @media screen and (max-width: 666px) {

        .logo {
            width: 482px;
        }

    }

}


/* TEXT PARA  */
@media screen and (max-width: 624px) {

    .mix-body-text p {
        max-width: 500px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .plan-text p {
        max-width: 500px;
        position: relative;
        margin-left: 0px;
        left: 50%;
        transform: translateX(-50%);
    }


}



/* HEALTHY PLANET PANE  */
@media screen and (max-width: 650px) {

    .wyld-why {
        max-width: 535px;

    }

    .why-list {
        padding: 19px 10px 10px;
    }

    @media screen and (max-width: 575px) {

        .why-section {
            /* height: 1400px; */
        }

        .wyld-why {
            max-width: 340px;

        }

        .why-list {
            padding: 19px 10px 10px;
        }

        .wyld-why li {
            padding: 5px 0;
        }

        .list-item {
            margin: 0 auto 10px;
        }

        .hills {
            left: 0px;
            top: 0px;
        }

        .mountains {
            width: 100%;
        }

        .packages {
            left: 0px;
        }

        .custom {
            width: 100%;
        }

        .checkmark {
            left: 0px;
        }

        .certified {
            width: 100%;
        }

        .delivery {
            left: 0px;
            top: 6px;
        }

        .truck {
            width: 100%;
        }



    }


}


@media screen and (max-width: 529px) {

    .logo {
        width: 420px;
    }

    .cta-back {
        height: 700px;
        margin-bottom: 0;
    }

    .l-box-third {
        display: block;
    }

    #plan-button {
        left: 0;
        margin-bottom: 15px;
    }

    #order-button {
        top: 15px;
        right: 0;
    }

    .why-section {
        margin-top: 30px;
    }

    .plan-text p {
        font-size: 19px;
        line-height: 1.5;
        max-width: 336px;
    }

    .card--wyld-sides {
        margin: 30px -24px;
    }


    .mix-body-text p {
        font-size: 19px;
        line-height: 1.5;
        max-width: 325px;
    }

    .adjust-order {
        height: auto;
        margin-bottom: 30px;
    }

    .avatar-pane--home h2 {
        padding: 0 15px;
    }
}


@media screen and (max-width: 442px) {

    .logo {
        width: 340px;
    }

    .how-it-works-wrapper {
        width: 334px;
    }

    .plan-spacer {
        height: 130px;
    }

    .why-header {
        max-width: 410px;
    }

    .plan-text p {
        max-width: 310px;
    }

    .plan-text {
        margin-bottom: 30px;
    }

    .mix-body-text p {
        max-width: 310px;
    }

    .card--wyld-right {
        margin-left: auto;
        margin-right: auto;
    }


    .card--wyld-left {
        margin-left: auto;
        margin-right: auto;
    }

    .card--contact-form {
        width: 348px;
    }

    .contact-submit {
        width: 342px;
        font-size: 35px;
        padding-bottom: 8px;
    }

    .form-entry {
        width: 280px;
    }

    .wyld-form-plans {
        width: 280px;
    }

    .form-text-pane {
        left: -35px;
        width: 347px;
        top: 0px;
    }

    .form-mix-pane {
        width: 280px;
    }

    .bulk-discount-pane {
        left: 24px;
    }

    .textarea-section {
        width: 280px;
    }

}


@media screen and (max-width: 359px) {

    .logo {
        width: 264px;
    }

    .how-it-works-wrapper {
        width: 250px;
    }

    .wyld-why li {
        font-size: 16px;
    }

    .plan-text {
        margin-top: 46px;
        padding: 0px 29px 20px;
    }

    .card--wyld-center {
        width: 270px;
    }

    .mix-body-text {
        margin-top: 70px;
        padding: 0px 14px 0px;
    }

    .mix-body-text p {
        max-width: 270px;
        margin-left: 0px;
    }

    #pick-mix h2 {
        padding: 0 45px;
    }

    .card--wyld-left {
        width: 270px;
    }

    .card--wyld-right {
        width: 270px;
    }

    .card-art {
        height: 173px;

    }

    .mix-text {
        margin: 8px;
        padding: 0;
    }

    .mix-quantity {
        right: 56px;
    }

    .custom-btn-slider {
        right: -72px;
        width: 394px;
    }

    .custom-close {
        left: 103px;
    }

    .custom-ingredients {
        width: 40%;
        left: -22px;
    }

    .custom-order {
        height: 577px;
    }

    .custom-order-button {
        width: 262px;
    }

    .custom-order-btn-clicked {
        width: 132px;
    }

    .custom-order-hidden-clicked {
        width: 133px;
        right: 2px !important;
    }

    .custom-quantity {
        width: 131px;
        right: 0px;
    }

    .custom-btn-slider-anim {
        transform: translateX(-131px);
    }

    .custom-quantity p {
        left: 13px !important;
    }

    .custom-quantity input {
        left: 68px;
    }


    .custom-quantity img {
        left: 13px !important;
    }


    .card--contact-form {
        width: 270px;
    }

    .contact-submit {
        width: 262px;
        font-size: 32px;
        padding-bottom: 8px;
        top: -304px;
        left: -30px;
    }

    .form-entry {
        width: 202px;
    }

    .wyld-form-plans {
        width: 202px;
    }

    .form-text-pane {
        left: -25px;
        width: 250px;
        top: 0px;
        padding: 0;
    }

    .form-text-pane p {
        font-size: 16px;
    }

    .form-mix-pane {
        right: -20px;
        width: 241px;
    }

    .price-per-pane {
        padding: 5px 1px;
        width: 74px;
        left: 7px;
    }

    .bulk-discount-pane {
        left: 10px;
        width: 74px;
    }

    .price-pane {
        width: 75px;
    }

    .textarea-section {
        width: 202px;
    }

    .wyld-form-plans label {
        font-size: 17px;
        margin-top: 4px;
        margin-bottom: 10px;
    }

    .wyld-form-plans input {
        height: 20px;
        padding-bottom: 4px;
    }

    #contact-button-bottom {
        font-size: 37px;
    }

}