.wyld-form-mix input[type=checkbox] {
    float: left;
    margin-right: 6px;
}

.wyld-form-mix input[type=number] {
    float: right;
}

.contact-card-top-section input[type=checkbox] {
    float: right;
}

.fullwidth-wrapper {
    margin-bottom: 30px;
}

.fullwidth-left-cont {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.fullwidth-right-cont {
    max-width: 1000px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.fullwidth-right-cont img {
    /* width: %; */
    display: block;
    margin: 18px auto 23px;
}

.fullwidth-right-cont h2 {
    display: block;
    color: #ccc;
    line-height: 1.2;
}

.how-it-works-wrapper {
    font-size: 25px;
    text-align: center;
    width: 348px;
    margin: 0 auto;
    border: solid 1px #222;
    position: relative;
    background-color: white;
    top: -48px;
    border-radius: 5px;
    z-index: 10;
}

.how-it-works-wrapper h3 {
    padding: 10px 20px;
}

.cta-link {
    /* width: 100%; */
    /* display: block; */
}

.why-img {
    position: relative;
    /* top: -23px;
    left: 55px; */
    display: inline-block;
    width: 220px;
    margin: 0 auto -20px;
}

.how-subtitle {
    font-size: 24px;
    text-align: center;
    margin: 0px auto 35px;
}

.wyld-why-img {
    margin: 0 auto 10px;
    width: 420px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.committed {
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    color: var(--copy-dark) !important;
    line-height: 1.3;
    position: relative;
}

.grey-back {
    width: 100%;
    height: 327px;
    position: absolute;
    top: 0px;
    z-index: 0;
    background-color: lightgray;
}

.wyld-why {
    max-width: 605px;
    padding: 20px 0;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    position: relative;
    left: 10px;
}

.wyld-why p {
    text-align: center !important;
}

.wyld-why h3 {
    text-align: center !important;
    font-size: 26px;
    margin: 0 auto 10px;
}

.wyld-why h4 {
    font-size: 24px;
}

.why-header {
    text-align: center !important;
    font-size: 30px;
    margin: 0 auto 10px;
    position: relative;
}

.why-list {
    border: 5px solid var(--secondary-color);
    border-radius: 12px;
    margin: 30px auto;
    padding: 30px 10px;
    background-color: white;
}

.farm-background {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 1161px;
}

.farm-scene {
    height: 1121px;
}

.cloud {
    position: absolute;
    opacity: 0.4;
    left: 97px;
    width: 80%;
}

.mock-buttons {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 103;
}

.mock-buttons button {
    display: block;
}


.wyld-why ul {
    /* list-style-image: url('/images/icons/leaf-small.png'); */
}

.wyld-why li {
    padding: 5px 0 5px 15px;
    margin-bottom: 25px;
}

.mountains {
    /* list-style-image: url('/images/icons/why/mountains.png'); */
    display: inline-block;
    width: 60%;
}

.custom {
    display: inline-block;
    width: 60%;
}

.certified {
    display: inline-block;
    width: 60%;
}

.truck {
    display: inline-block;
    width: 60%;
}

.list-item {
    display: inline-block;
    width: 130px;
    vertical-align: top;
}

.wyld-contact-info {
    display: inline-block !important;
    width: 40%;
}

.wyld-options {
    display: inline-block !important;
    width: 35%;
    position: relative;
    left: 95px;
    bottom: 10px;
}

.plan-freq {
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
}


.wyld-form-plans {
    border-left: solid 1px var(--secondary-color);
    border-bottom: solid 1px var(--secondary-color);
    border-bottom-left-radius: 4px;
    display: block;
    width: 371px;
    height: 140px;
    padding: 15px 20px 30px;
    background-color: whitesmoke;
    position: relative;
    left: 0px;
    bottom: -6px;
}

.wyld-form-plans label {
    font-size: 22px;
}

.wyld-form-mix {
    border: solid 1px var(--secondary-color);
    display: block;
    width: 280px;
    padding: 10px;
    margin-top: 11px;
    background-color: whitesmoke;
}

.leaf-bullet-top {
    float: left;
    position: relative;
    top: 19px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

.leaf-bullet-single {
    float: left;
    position: relative;
    top: 18px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

.leaf-bullet-double {
    float: left;
    position: relative;
    top: 29px;
    left: 10px;
    width: 13px;
    opacity: .6;
}

#mix-button {
    left: 28px;
    position: relative;
}

#order-button {
    right: 28px;
    position: relative;
}

.cta-back {
    position: relative;
    z-index: 5;
    background-color: #f0f9f7;
    width: 100%;
    height: 295px;
    padding-top: 48px;
    top: -72px;
    margin-bottom: -72px;
}

.cta-button-background {
    background-color: white;
    width: 259px;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 6px #222;
    cursor: pointer;
}

.form-num {
    display: inline-block;
    width: 65px;
}

.cta-num {
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 26px !important;
    letter-spacing: 2px;
}

.cta-num-colon {
    font-size: 20px !important;
    position: relative;
    bottom: 2px;
}

.wyld-left-section {
    width: 45%;
    display: inline;
}

.wyld-right-section {
    width: 55%;
    height: 100%;
    display: inline-block;
    padding-top: 10px;
}

.mix-order {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: var(--secondary-light);
    border: solid 1px var(--secondary-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
}

.custom-ingredients li {
    display: inline-block;
    font-weight: 400;
    font-family: var(--copy);
}

.custom-order-button {
    margin-top: 0px;
    width: 327px;
    height: 44px;
    background-color: var(--secondary-light);
    border-top: solid 1px var(--secondary-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 0px;
    cursor: pointer;
}

.custom-order {
    margin-top: 0px;
    width: 327px;
    height: 44px;
    background-color: var(--secondary-color);
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    font-size: 15px;
    position: relative;
    bottom: 0px;
}

.plan-back {
    position: absolute;
    height: 262px;
    width: 100%;
    margin-top: -15px;
    opacity: .06;
    z-index: 1;
    height: 1217px;
    margin-top: -40px;
    background-color: #00987c;
}

.plan-order {
    margin-top: 10px;
    border: 4px solid var(--secondary-color);
    width: 270px;
    height: 50px;
    position: absolute;
    bottom: 26px;
    left: -4px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--secondary-light);
    font-size: 22px;
    color: #222;
    font-family: var(--headers);
    font-weight: 700;
    cursor: pointer;
}

.grey-drop {
    position: absolute !important;
    width: 100% !important;
    z-index: -1;
    top: 0px;
}

.custom-text {
    margin: 10px;
    padding: 0 0px;
    opacity: .7 !important;
    line-height: 1.1;
    color: #222;
    font-family: var(--copy);
    font-weight: 400;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}